<section>
  <div class="loader-holder" *ngIf="!hasNewChanges">
    <div class="loader-content"></div>
  </div>
  <mat-tab-group *ngIf="hasNewChanges && isWeekly">
    <mat-tab *ngFor="let week of customersData" [label]="getWeekNameLabel(week.week_number)">
      <mat-tab-group>
        <mat-tab *ngFor="let day of week.journey_plan_days" [label]="day.day_name">
          <div class="head-container m-2">
            <div class="row head-row m-0">
              <div class="col-sm-3" *ngFor="let head of tableHeads">{{ head }}</div>
            </div>
          </div>
          <div class="data-body">
            <div class="row data-row m-0" *ngFor="let user of day.journey_plan_customers">
              <div class="col-sm-3">{{ user.day_customer_sequence }}</div>
              <div class="col-sm-3">{{ getUsersName(user) }}</div>
              <div class="col-sm-3">{{ user.day_start_time ? user.day_start_time : '00:00' }}</div>
              <div class="col-sm-3">{{ user.day_end_time ? user.day_end_time : '00:00' }}</div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group *ngIf="hasNewChanges && !isWeekly">
    <mat-tab *ngFor="let day of customersData" [label]="day.day_name">
      <div class="head-container m-2">
        <div class="row head-row m-0">
          <div class="col-sm-3" *ngFor="let head of tableHeads">{{ head }}</div>
        </div>
      </div>
      <div class="data-body">
        <div class="row data-row m-0" *ngFor="let user of day.journey_plan_customers">
          <div class="col-sm-3">{{ user.day_customer_sequence }}</div>
          <div class="col-sm-3">{{ getUsersName(user) }}</div>
          <div class="col-sm-3">{{ user.day_start_time ? user.day_start_time : '00:00' }}</div>
          <div class="col-sm-3">{{ user.day_end_time ? user.day_end_time : '00:00' }}</div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>