button:focus {
  outline: none;
}

.table-box {
  float: left;
  transition: width 0.4s;
  width: 100%;
}


.details-box {
  float: left;
  transition: width 0.4s, height 2s, visibility 0.4s;
  width: 0;
  height: calc(100vh - 68px);
  visibility: hidden;
  height: auto !important;
}

.collapsed {
  transition:width 0.4s;
  width: 25%;
  .heading-row {
    padding: 10px;
    text-align: right;
    h2{
      margin: 0 0 4px;
    }
}
}

.expanded {
  height: calc(100vh - 50px);
  transition: width 0.4s, visibility 0.4s;
  width: 75%;
  border-left: 2px solid lightgray;
  visibility: visible;
}

// New Styles


button.mat-menu-item {
  height: 30px;
  line-height: normal;
}
.mat-button{
  line-height: normal;
  height: 30px;
}
@media (max-width: 575px) {
  .table-box{
    h2.title{
      float: none;
      width: 100%;
      top: 0;
    }
    .actions{
      display: block;
    float: none;
    width: 100%;
    }
  }
  .heading-row {
    padding: 10px;
  }
}
