<section class="custom-mat">
  <div class="heading-row">
    <h2 class="d-inline"><i class="fa fa-credit-card-alt mr-2"></i>{{ pageTitle }}</h2>
    <div class="d-inline float-right">
      <button mat-button class="btn btn-sm btn-white border" [matMenuTriggerFor]="menu2">More</button>
      <mat-menu #menu2="matMenu" xPosition="before">
        <!--        <button mat-menu-item class="height-40" (click)="postFinalPayload('delivery')">Convert to Delivery</button>-->
        <button mat-menu-item class="height-40" (click)="goToAllNotes()">All Debit Notes</button>
      </mat-menu>
    </div>
  </div>
  <div class="separator"></div>
  <form [formGroup]="orderFormGroup" class="order-form custom-mat square scrolly">

    <div class="card-header active-form overview">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group smmatinput" *ngIf="!isDepotOrder">
            <label for="">Customer </label>
            <p *ngIf="isDeliveryForm">
              <input type="text" class="form-control form-control-sm non-editable"
                [value]="debitNoteData.customer.customer_name" disabled>
            </p>
            <p *ngIf="!isDeliveryForm">
              <mat-form-field class="example-full-width" id="customerFormField">
                <input type="text" placeholder="Search Customer" (blur)="checkFormValidation()" matInput required
                  [formControl]="customerFormControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionActivated)="checkFormValidation()"
                  [displayWith]="customerControlDisplayValue">
                  <mat-option *ngFor="let customer of customers" [value]="customer"> {{
                    customer.user.firstname }}
                    {{ customer.user.lastname }} - {{ customer.customer_code }}</mat-option>
                  <hr class="customerHr">
                  <mat-option id="custBtn" class="in-opt-btn"><button (click)="addCustomer()"><i
                        class="os-icon os-icon-plus"></i>
                      Add Customer</button></mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="customerFormControl.hasError('required')">Please select a customer</mat-error>
              </mat-form-field>
            </p>
          </div>
        </div>

      </div>
    </div>

    <div [ngClass]="{ 'inactive-form': customerFormControl.invalid }">
      <div class="card-body overview">
        <div class="row justify-content-between">
          <div class="col-md-4">
            <div class="form-group smmatinput">
              <label for="">Reason </label>
              <app-tree-dropdown id="reasonFormField" class="channel-dropdown" [dataSource]="returnReasons"
                [dataService]="channelProvider()" [buttonLabel]="'Manage Reasons'" (manageClicked)="openChannel()"
                (whenItemSelected)="channelSelected($event)" [selectFormControl]="reasonFormControl"
                [placeHolder]="'Search a Reason'" ngDefaultControl>
              </app-tree-dropdown>
              <mat-error *ngIf="reasonFormControl.hasError('required')">Please select a reason</mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Debit Note Number </label>
              <div class="position-relative">
                <input type="text" (keypress)="restrictLength($event)" class="form-control form-control-sm" required
                  [formControl]="numberFormControl" id="numberField">
                <span class="setting-btn"><button (click)="openNumberSettings()"><i
                      class="os-icon os-icon-settings"></i></button></span>
              </div>
            </div>
            <div class="form-group">
              <label for="">Debit Note Date </label>
              <input type="date" class="form-control form-control-sm" required [formControl]="debitNoteDateFormControl"
                id="deliveryDate">
            </div>

          </div>
        </div>


        <!-- <tr>
              <td>Payment Terms</td>
              <td>
                <mat-form-field>
                  <mat-label>Select Payment Term</mat-label>
                  <mat-select class="no-disabled-text" required id="termFormField" (ngModelChange)="payTermChanged($event)" [(ngModel)]="selectedPaymentTermId" [ngModelOptions]="{ standalone: true }" [disabled]="isDeliveryForm">
                    <mat-option *ngFor="let term of terms" [value]="term.id">{{ term.name }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="paymentTermFormControl.hasError('required')">Please select a payment term</mat-error>
                </mat-form-field>
              </td>
            </tr> -->



      </div>

      <div class="bottom-form">
        <div class="item-container custom-mat custom-mat-no-border"
          [ngClass]="{ 'inactive-form': isDepotOrder ? depotFormControl.invalid : customerFormControl.invalid }">

          <table class="table-check">
            <thead>
              <tr>
                <th class="head">
                  <button class="btn btn-sm filter-btn" [matMenuTriggerFor]="menu" style="height: 30px;"><i
                      class="fa fa-filter"></i></button>
                  <mat-menu #menu="matMenu">
                    <div class="card-body p-2" style="min-width: 200px;">
                      <ul style="list-style:none; padding-left: 7px; margin-bottom: 0;">
                        <li *ngFor="let header of itemTableHeaders.slice(5, 9)">
                          <input type="checkbox" style="margin: 2px" [(ngModel)]="header.show"
                            (click)="$event.stopPropagation()" [ngModelOptions]="{ standalone: true }">
                          {{ header.label }}
                        </li>
                      </ul>
                      <div class="float-right mb-2">
                        <button mat-button class="btn mat-inherit-line-height filter-cancel-btn">Cancel</button>
                      </div>
                    </div>
                  </mat-menu>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="item-row" *ngFor="let item of payloadItems; let i = index;">
                <!-- <input class="item-checkbox" (change)="itemDidSelected($event, item)" type="checkbox" name="item"> -->
              </tr>
            </tbody>
          </table>

          <div class="item-table-div table-responsive">
            <table class="item-table cardtable table">
              <thead>
                <tr>
                  <th class="head" *ngFor="let head of itemTableHeaders">{{ head.label }}</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="form-body">
                <tr formArrayName="items" class="item-row" *ngFor="let item of itemFormControls; let i = index;">
                  <ng-container [formGroupName]="i">
                    <td data-th="#" class="item-sequence" *ngIf="isEditForm">
                      <span>{{ i + 1 }}</span>
                      <input [ngClass]="getItemStatus(item) ? 'notAvaliable' : ''" [disabled]="getItemStatus(item)"
                        (change)="itemDidSelected($event, payloadItems[i])" type="checkbox" name="item">
                    </td>
                    <td data-th="#" class="item-sequence" *ngIf="!isEditForm">
                      <span>{{ i + 1 }}</span>
                      <input (change)="itemDidSelected($event, payloadItems[i])" type="checkbox" name="item">
                    </td>
                    <td data-th="Item Name	" class="item-name" *ngIf="isDeliveryForm"><input type="text"
                        class="form-control form-control-sm non-editable" [value]="payloadItems[i].item.name" disabled>
                    </td>
                    <td data-th="Item Name	" class="item-name" *ngIf="!isDeliveryForm">
                      <mat-form-field class="item-name-field">
                        <input type="text" required placeholder="Search an item" matInput formControlName="item"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (opened)="checkFormValidation()"
                          (optionSelected)="itemDidSearched($event.option.value, i)"
                          [displayWith]="itemsControlDisplayValue">
                          <mat-option *ngFor="let item of filteredItems" [value]="itemControlValue(item)">
                            {{ item.item_name }} - {{item.item_code}} </mat-option>
                          <hr class="customerHr">
                          <mat-option id="custBtn" class="in-opt-btn"><button (click)="redirectToItem()"><i
                                class="os-icon os-icon-plus"></i> Add Item</button></mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </td>
                    <td data-th="UOM" class="uom-td" *ngIf="isDeliveryForm"><input type="text"
                        class="form-control form-control-sm non-editable" [value]="getUomValue(payloadItems[i])"
                        disabled></td>
                    <td data-th="UOM" class="uom-td" *ngIf="!isDeliveryForm">
                      <select class="custom-select" required formControlName="item_uom_id">
                        <option [value]="uom.id" *ngFor="let uom of item.value.item_uom_list">{{ uom.name }}</option>
                      </select>
                    </td>
                    <td data-th="UOM" class="uom-td" *ngIf="isDeliveryForm"><input type="text"
                        class="form-control form-control-sm non-editable" [value]="getUomValue(payloadItems[i])"
                        disabled></td>
                    <td data-th="Reason" class="uom-td" *ngIf="!isDeliveryForm">
                      <input (click)="openReason(i)" type="text" class="return_reason"
                        formControlName="return_reason_id" name="reasons" required>
                      <!-- <select class="custom-select" required formControlName="return_reason_id">
                      <option [value]="reason.id" *ngFor="let reason of returnReasons">{{ reason.name }}</option>
                    </select> -->
                    </td>
                    <td data-th="Quantity" class="stats-cell"><input type="number" min="0" class="form-control"
                        placeholder="Quantity" formControlName="item_qty"></td>
                    <td data-th="Price" class="stats-cell"><input type="text" class="form-control non-editable"
                        [value]="numberFormat(payloadItems[i].item_price)" disabled></td>
                    <td data-th="Discount" *ngIf="itemTableHeaders[5].show" class="stats-cell"><input type="text"
                        class="form-control non-editable" [value]="numberFormat(payloadItems[i].item_discount_amount)"
                        disabled></td>
                    <td data-th="Vat" *ngIf="itemTableHeaders[6].show" class="stats-cell"><input type="text"
                        class="form-control non-editable" [value]="numberFormat(payloadItems[i].item_vat)" disabled>
                    </td>
                    <td data-th="Net" *ngIf="itemTableHeaders[7].show" class="stats-cell"><input type="text"
                        class="form-control non-editable" [value]="numberFormat(payloadItems[i].item_net)" disabled>
                    </td>
                    <td data-th="Excise" *ngIf="itemTableHeaders[8].show" class="stats-cell"><input type="text"
                        class="form-control non-editable" [value]="numberFormat(payloadItems[i].item_excise)" disabled>
                    </td>
                    <td data-th="Total" class="stats-cell"><input type="text" class="form-control non-editable"
                        [value]="numberFormat(payloadItems[i].item_grand_total)" disabled></td>
                    <td data-th="Action"><button [disabled]="(itemFormControls.length <= 1) || isDeliveryForm"
                        class="trash-btn" (click)="deleteItemRow(i)"><i class="fa fa-close"></i></button></td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <button mat-button class="mat-inherit-line-height add-item-btn" [disabled]="isDeliveryForm"
              (click)="addItem()">
              Add another line
            </button>
          </div>

          <!-- <table class="table-check">
            <thead>
            <tr><th class="head"></th></tr>
            </thead>
            <tbody>
            <tr class="item-row" *ngFor="let item of payloadItems; let i = index;">
              <button [disabled]="(itemFormControls.length <= 1) || isDeliveryForm" class="trash-btn" (click)="deleteItemRow(i)"><i class="fa fa-close"></i></button>
            </tr>
            </tbody>
          </table> -->
        </div>
        <div class=" footer-overview-container">
          <div class="row justify-content-end">
            <div class="col-sm-4">
              <div class="overall-stats-table">
                <div *ngFor="let stat of objectValues(orderFinalStats)">
                  <span class="stat-label">{{ stat.label }}</span>
                  <span class="stat-value">{{ numberFormatWithSymbol(stat.value) }}</span>
                </div>
                <div>
                  <span class="stat-label final-total">{{ orderFinalStats.grand_total.label }}</span>
                  <span class="stat-value final-total">{{ numberFormatWithSymbol(orderFinalStats.grand_total.value)
                    }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="actions">
    <button class="btn btn-primary" (click)="postFinalPayload('order')">Save & Submit</button>
  </div>
</section>