button:focus {
  outline: none;
}
button.mat-menu-item {
  height: 30px;
  line-height: normal;
}
.header-row {
  float: left;
  width: 100%;
  position: relative;
}

button:active {
  outline: none;
}


