<section *ngIf="planogram">
  <div class="pl-3">
    <div class="row">
      <h2 class="page-title col-sm-6 font-weight-light">
        {{ planogram.name }}
      </h2>
      <div class="actions col-sm-6">
        <button class="btn btn-sm btn-white dropdown-toggle" mat-button [matMenuTriggerFor]="menu2">
          More
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="openEditPlanogram()" appPermission [permissions]="userPermissions"
            [type]="'edit'">Edit</button>
          <button mat-menu-item (click)="openDeleteBox()" appPermission [permissions]="userPermissions"
            [type]="'delete'">
            Delete
          </button>
        </mat-menu>

        <button *ngIf="isDetailVisible" class="btn" (click)="closeDetailView()">
          <i class="os-icon os-icon-close"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="pl-3 area-data">
    <div class="row h-100">
      <div class="col-12">
        <mat-tab-group class="customertab" [(selectedIndex)]="selectedTab" mat-align-tabs="start"
          (selectedTabChange)="selectedTabChange($event.index)" mat-align-tabs="start">
          <mat-tab label="Overview">
            <div class="row">
              <div class="col-xl-5 col-lg-5 col-md-8">
                <ul class="smhlist mt-2">
                  <li>
                    <span> Name: </span>
                    <strong> {{ planogram.name }}</strong>
                  </li>
                  <li>
                    <span> Valid From: </span>
                    <strong> {{ planogram.start_date | date: "d MMM y h:mm a" }}</strong>
                  </li>
                  <li>
                    <span> Valid To: </span>
                    <strong>{{ planogram.end_date | date: "d MMM y h:mm a" }}</strong>
                  </li>
                </ul>
              </div>
            </div>

            <ng-container >
              <hr />
              <div class="col-sm-12 data-block">
                <h2>Customers</h2>
                <div class="pl-3 items-table-box">
                  <div class="table-responsive">
                    <table mat-table [dataSource]="itemSource1" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname}} {{ element.customer?.lastname}} </td>
                      </ng-container>
                      <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns1.length">
                          <div class="element-detail show-images"
                            [@detailExpand]="element == expandedElement1 ? 'expanded' : 'collapsed'">
                            <div class="pl-3 items-table-box" style="width: 100%;">
                              <div class="table-responsive">
                                <table mat-table [dataSource]="itemSource2" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Distribution Name </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.distribution?.name}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="expandedDetail">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns2.length">
                                      <div class="element-detail show-images"
                                        [@detailExpand]="element == expandedElement2 ? 'expanded' : 'collapsed'">
                                        <div *ngFor='let img of element.planogram_images' class="img-position imageCard">
                                          <img [src]="img.image_string" height="150" width="150px">
                                          <div class="iconsbar">
                                            <a href="javascript:;" (click)="downloadFile(img.image_string)"><i class="fa fa-download"></i></a>
                                            <a href="{{img.image_string}}" target="_blank"><i class="fa fa-external-link"></i></a>
                                            <a href="javascript:;" (click)="open(img.image_string, 0)"><i class="fa fa-eye"></i></a>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="expandListDist(row)" class="element-row"
                                    [class.expanded-row]="expandedElement2 === row"></tr>
                                  <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
                                </table>
                              </div>
                              <mat-paginator [hidden]="itemSource2.data.length < 5 " pageSize="10" [pageSizeOptions]="[5,10]">
                              </mat-paginator>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="expandList(row)" class="element-row"
                        [class.expanded-row]="expandedElement1 === row"></tr>
                      <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
                    </table>
                  </div>
                  <mat-paginator [hidden]="itemSource1.data.length < 5 " pageSize="10" [pageSizeOptions]="[5,10]">
                  </mat-paginator>
                </div>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Planogram Post">
            <br />
            <app-view-post-list [postList]="postList" [planogram_id]="planogram.id"></app-view-post-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>