<div class="card" style="width: 550px;">
  <div class="card-header pt-4">
    <span class="h6 font-weight-light">{{ formType }} Route</span>
    <a (click)="close()"><i class="fa fa-times fa-lg text-secondary float-right" aria-hidden="true"></i></a>
  </div>
  <form [formGroup]="routeFormGroup">
    <div class="card-body">
      <div class="">
        <div class="row mb-md-2 mb-2">
          <div class="col-md-4 ">Route Code*</div>
          <div class="col-md-8">
            <input (keypress)="restrictLength($event)" [formControl]="routeCodeFormControl"
              class="form-control form-control-sm" type="text" style="width: 95%;" />
            <a [hidden]="formType == 'Edit'" (click)="open()" class="ml-2 settingIcon"><i class="os-icon os-icon-ui-46"
                aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row mb-md-2 mb-2">
          <div class="col-md-4 ">Route Name*</div>
          <div class="col-md-8">
            <input [formControl]="nameFormControl" class="form-control form-control-sm" type="text" />
          </div>
        </div>

        <div class="row mb-md-2 mb-2">
          <div class="col-md-4 ">Area*</div>
          <div class="col-md-8">
            <app-tree-dropdown class="area-dropdown" [dataSource]="areas" [dataService]="areaProvider()"
              [buttonLabel]="'Manage Areas'" (manageClicked)="openArea()" (whenItemSelected)="areaSelected($event)"
              [selectFormControl]="areaFormControl" [placeHolder]="'Search a area'" ngDefaultControl>
            </app-tree-dropdown>
          </div>
        </div>
        <div class="row mb-md-2 mb-2">
          <div class="col-md-4 ">Depot Name*</div>
          <div class="col-md-8">
            <select [formControl]="depotFormControl" class="form-control form-control-sm">
              <option *ngFor="let depot of depots" [value]="depot.id">{{
                depot.depot_name
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <ng-container *ngIf="isCustomField">
        <app-custom-field-form [editData]="editData" (change)="onCustomFieldUpdated($event)" [module]="moduleId">
        </app-custom-field-form>
      </ng-container>
    </div>
  </form>
  <div class="card-footer">
    <div class="d-inline float-right">
      <button class="btn btn-sm btn-light mr-2" (click)="close()">
        Cancel
      </button>
      <button class="btn btn-sm btn-p" (click)="saveRouteData()">Save</button>
    </div>
  </div>
</div>