<section class="scrolly">
  <div class="table-responsive">
    <table class="table table-hover" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <a
            class="filter-btn"
            *ngIf="!isDetailVisible"
            [matMenuTriggerFor]="menu"
            style="height: 30px;"
          >
            <i class="fa fa-table" aria-hidden="true"></i>
          </a>
          <mat-menu #menu="matMenu">
            <div class="card-body p-2" style="min-width: 200px;">
              <ul style="list-style: none; padding-left: 7px;">
                <li *ngFor="let column of filterColumns">
                  <input
                    type="checkbox"
                    [(ngModel)]="column.show"
                    class="m-2"
                    (click)="$event.stopPropagation()"
                  />
                  {{ column.title }}
                </li>
              </ul>
              <div class="float-right mb-2">
                <button class="btn btn-p bg-secondary">Cancel</button>
              </div>
            </div>
          </mat-menu>
          <mat-checkbox
            class="head-checkbox"
            (change)="$event ? toggleSelection() : null" (change)="getSelectedRows()"
            [checked]="selections.hasValue() && isAllSelected()"
            [indeterminate]="selections.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            class="row-checkbox"
            (click)="$event.stopPropagation()"
            (change)="$event ? selections.toggle(row) : null" (change)="getSelectedRows()"
            [checked]="selections.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <br />
      <ng-container matColumnDef="bank_code">
        <th mat-header-cell *matHeaderCellDef>BANK CODE</th>
        <td mat-cell *matCellDef="let element">{{ element.bank_code }}</td>
      </ng-container>
      <ng-container matColumnDef="bank_name">
        <th mat-header-cell *matHeaderCellDef>BANK NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.bank_name }}</td>
      </ng-container>
      <ng-container matColumnDef="account_number">
        <th mat-header-cell *matHeaderCellDef>ACCOUNT NUMBER</th>
        <td mat-cell *matCellDef="let element">{{ element.account_number }}</td>
      </ng-container>
      <ng-container matColumnDef="bank_address">
        <th mat-header-cell *matHeaderCellDef>BANK ADDRESS</th>
        <td mat-cell *matCellDef="let element">{{ element.bank_address }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status === 1 ? "Active" : "Inactive" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: getDisplayedColumns()"
        (click)="openDetailView(row)"
      ></tr>
    </table>
  </div>
  <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)" [length]="apiResponse.pagination?.total_records"
            [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>
</section>
