<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <section class="overflow-hidden">
    <div class="table-box customerbox" [ngClass]="{ collapsed: isDetailVisible }">
      <div class="heading-row clearfix">
        <p class="d-md-inline" *ngIf="!isDetailVisible">
          <i class="os-icon os-icon-user mr-2" aria-hidden="true"></i> All
          Invoices
        </p>
        <div class="d-inline float-right">
          <button type="button" class="btn btn-sm btn-p" (click)="openInvoiceForm()" appPermission
            [permissions]="userPermissions" [type]="'create'">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
          <!-- impot /Export  -->
          <button class="btn btn-sm btn-white ml-2 dropdown-toggle" [matMenuTriggerFor]="menu3">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openImportInvoice()">Import Invoice</button>
            <button mat-menu-item type="button" (click)="openExportInvoice()">Export Invoice</button>
          </mat-menu>
        </div>
      </div>
      <app-invoice-data-table [newInvoiceData]="newInvoiceData" (itemClicked)="itemClicked($event)" (selectedRows)="selectedRows($event)">
      </app-invoice-data-table>
    </div>
    <div class="details-box" [ngClass]="{ expanded: isDetailVisible }">
      <app-invoice-detail (detailsClosed)="closeClicked()" [isDetailVisible]="isDetailVisible"
        [invoiceData]="invoiceData">
      </app-invoice-detail>
    </div>
  </section>
</mat-drawer-container>
