
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of ELEMENT_DATA">
      <td>{{el.Invoice}}</td>
      <td>{{el.customerCode}}</td>
      <td>{{el.customername}}</td>
      <td>{{el.FOCPC5}}</td>
      <td>{{el.FocVal}}</td>
      </tr>
    </tbody>
  </table>
</div>
