mat-toolbar {
    height: 50px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;

}
a {
    cursor: pointer;
}
input:focus {
    outline: none;
}

.trial-msg{
    font-size: 14px;
    margin-right: 20px;
}

// .custom-nav {
//     position: fixed;
//     z-index: 1000;
//     display: flex;
//     flex-direction: row;
//     width: calc(100% - 256px);
// }
.search-input{
    height: 34px;
}
.search-btn {
    padding: 0px;
    margin: 2px 4px 0 0;
    border: none;
    border-color: transparent;
    background-color: transparent;
    line-height: normal;
    color: #999 !important;
    &:focus {
        border: none;
    }
    &.dropdown-toggle::after{
        top: -5px;
        position: relative;
    }
}
.mat-menu-item {
    line-height: 30px;
    height: 30px;
    width: 300px;
}

.custom-nav{
    padding-left: 10px;
}
.orgname{
    margin-right: 1.5rem !important;
}
@media (max-width: 575px) {
    .search-input{
        padding: 3px 10px;
        height: 30px;
        min-width: 100px;
        display: flex;
        align-items: center;
        width: 100%;
        input{
            padding:0;
            
    height: 28px;
        }
    }
    .custom-nav{
        padding-left: 40px;
    }
    .orgname{
        margin-right: 1rem !important;
        font-size: 16px;
        small{
            display: inline-flex;
            align-items: center;
        }
        span{
          
                max-width: 64px;
                overflow: hidden;
                display: inline-flex;
                text-overflow: ellipsis;
                white-space: nowrap;
        
        }
        
    }
}