<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_name">
                <th mat-header-cell *matHeaderCellDef> merchandiser name </th>
                <td mat-cell *matCellDef="let element"> {{ element.merchandiserName }} </td>
            </ng-container>
            <ng-container matColumnDef="task_title">
                <th mat-header-cell *matHeaderCellDef> Task title </th>
                <td mat-cell *matCellDef="let element"> {{ element.taskTitle }} </td>
            </ng-container>
            <ng-container matColumnDef="task_started">
                <th mat-header-cell *matHeaderCellDef> Task started </th>
                <td mat-cell *matCellDef="let element"> {{ element.startTime }} </td>
            </ng-container>
            <ng-container matColumnDef="task_ended">
                <th mat-header-cell *matHeaderCellDef> Task Ended </th>
                <td mat-cell *matCellDef="let element"> {{ element.endTime }} </td>
            </ng-container>
            <ng-container matColumnDef="task_is_unplanned">
                <th mat-header-cell *matHeaderCellDef> Task Is Unplanned </th>
                <td mat-cell *matCellDef="let element"> {{ element.unplanned == '1' ? 'Yes' : 'No' }} </td>
            </ng-container>
            <ng-container matColumnDef="task_completed">
                <th mat-header-cell *matHeaderCellDef> Task Completed </th>
                <td mat-cell *matCellDef="let element"> {{ element.taskCompleted }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>