<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="customername">
    <th mat-header-cell *matHeaderCellDef> CUSTOMER NAME. </th>
    <td mat-cell *matCellDef="let element"> {{element.customername}} </td>
  </ng-container>
  <ng-container matColumnDef="customerCode">
    <th mat-header-cell *matHeaderCellDef> CUSTOMER CODE </th>
    <td mat-cell *matCellDef="let element"> {{element.customerCode}} </td>
  </ng-container>
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> DATE </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>
  <ng-container matColumnDef="invoice">
    <th mat-header-cell *matHeaderCellDef> INVOICE </th>
    <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of ELEMENT_DATA">
        <th scope="row">{{el.customername}}</th>
      <td>{{el.customerCode}}</td>
      <td>{{el.Date}}</td>
      <td>{{el.invoice}}</td>
      <td>{{el.category}}</td>
      <td>{{el.Class}}</td>
      <td>{{el.CategoryName}}</td>
      <td>{{el.NetSal_Val}}</td>
      <td>{{el.NetSal_tax}}</td>
      <td>{{el.Netsal_vol}}</td>
      <td>{{el.WST_VAL}}</td>
      <td>{{el.WST}}</td>
      </tr>
    </tbody>
  </table>
</div>
