.border{
    border:1px solid rgba(0, 0, 0, 0.1)
}
.year{
    padding: 10px;
}
.lft-title{
    border-bottom:1px solid rgba(0, 0, 0, 0.1) ;
    margin-bottom: 2px;
}
.date-control{
    width: 50%;
    margin-top:10px;
}

.top-btn div{
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 130px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffc107 !important
}

th{
    -webkit-transform: rotate(270deg);   
-moz-transform: rotate(270deg);
-ms-transform: rotate(270deg);
-o-transform: rotate(270deg);
transform: rotate(270deg);

font-size: 12px;
color: #263035;
background: #c8c8c800 !important;
height: 130px !important;
}

th div{
    width: 30px;
}