<section class="scrolly">
    <div class="table-responsive">
        <table class="table table-hover" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox class="head-checkbox" (change)="$event ? toggleSelection() : null"
                        [checked]="selections.hasValue() && isAllSelected()"
                        [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    <a class="filter-btn" *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu" style="height: 30px;">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </a>
                    <mat-menu #menu="matMenu">
                        <div class="card-body p-2" style="min-width: 200px;">
                            <ul style="list-style:none; padding-left: 7px;">
                                <li *ngFor="let column of filterColumns">
                                    <input type="checkbox" [(ngModel)]="column.show" class="m-2"
                                        (click)="$event.stopPropagation()">
                                    {{column.title}}
                                </li>
                            </ul>
                            <div class="float-right mb-2">
                                <button class="btn btn-p bg-secondary">Cancel</button>
                            </div>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox class="row-checkbox" (click)="$event.stopPropagation()"
                        (change)="$event ? selections.toggle(row) : null" [checked]="selections.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="checklistdate">
                <th mat-header-cell *matHeaderCellDef> CHECK LIST DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.checklistdate}} </td>
            </ng-container>
            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef> ROUTE </th>
                <td mat-cell *matCellDef="let element"> {{element.route}}</td>
            </ng-container>
            <ng-container matColumnDef="salesman">
                <th mat-header-cell *matHeaderCellDef> SALESMAN </th>
                <td mat-cell *matCellDef="let element"> &nbsp;{{element.salesman}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{ element.status === 1 ? 'Active' : 'Inactive' }} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetailView(row)"></tr>
        </table>
    </div>

    <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)" [length]="apiResponse.pagination?.total_records"
  [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>


</section>