<section class="scrolly">
  <div class="table-responsive">
    <table class="table table-hover" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <button class="btn btn-sm filter-btn" *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu"
            style="height: 30px;">
            <i class="fa fa-table" aria-hidden="true"></i>
          </button>
          <mat-menu #menu="matMenu">
            <div class="card-body p-2" style="min-width: 200px;">
              <ul style="list-style:none; padding-left: 7px;">
                <li *ngFor="let column of filterColumns">
                  <input type="checkbox" [(ngModel)]="column.show" class="m-2" (click)="$event.stopPropagation()">
                  {{column.title}}
                </li>
              </ul>
              <div class="float-right mb-2">
                <button class="btn btn-p bg-secondary">Cancel</button>
              </div>
            </div>
          </mat-menu>
          <mat-checkbox class="head-checkbox" (change)="$event ? toggleSelection() : null" (change)="getSelectedRows()"
            [checked]="selections.hasValue() && isAllSelected()"
            [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox class="row-checkbox" (click)="$event.stopPropagation()"
            (change)="$event ? selections.toggle(row) : null" (change)="getSelectedRows()"
            [checked]="selections.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!--  <ng-container matColumnDef="misc">-->
      <!--    <th mat-header-cell *matHeaderCellDef> Orders </th>-->
      <!--    <td mat-cell *matCellDef="let element" class="misc-cell">-->
      <!--      <span class="col-name">{{ element.customer ? element.customer.customer_name : element.depot.depot_name }}</span>-->
      <!--      <span class="col-price">{{ element.grand_total | currency: currencyCode:"symbol": currencyDecimalFormat }}</span>-->
      <!--      <span class="col-date">{{ element.order_date }}</span>-->
      <!--      <span class="col-code">{{ element.order_number }}</span>-->
      <!--    </td>-->
      <!--  </ng-container>-->
      <ng-container matColumnDef="grn_date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">{{ element.grn_date }}</td>
      </ng-container>
      <ng-container matColumnDef="grn_number">
        <th mat-header-cell *matHeaderCellDef> GRN Number </th>
        <td mat-cell *matCellDef="let element">{{ element.grn_number }}</td>
      </ng-container>
      <ng-container matColumnDef="source_warehouse">
        <th mat-header-cell *matHeaderCellDef> From Warehouse </th>
        <td mat-cell *matCellDef="let element">{{ element.source_warehouse?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="destination_warehouse">
        <th mat-header-cell *matHeaderCellDef> To Warehouse </th>
        <td mat-cell *matCellDef="let element">{{ element.destination_warehouse?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="grn_remark">
        <th mat-header-cell *matHeaderCellDef> Remark </th>
        <td mat-cell *matCellDef="let element">
          {{ element.grn_remark }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" [ngClass]="{ 'misc-row': isDetailVisible }"
        (click)="openDetailView(row)"></tr>
    </table>
  </div>
  <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)"
    [length]="apiResponse.pagination?.total_records" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>

</section>