.border-grey{
    border: 1px solid gray;
}
.box{
  
    width: 32%;
    margin-left: 10px;
}
.box-bottom1{
    width: 49%;
    margin-left: 10px;
    margin-top: 20px;
}
.box-bottom2{
    width: 49%;
    margin-left: 10px;
    margin-top: 20px;
}

.charts{
    width: 100%; height: 200px; position: relative; 
}

.dir{
    color: green;    font-size: xxx-large;
}