<section>
  <div class="heading-row">
    <h2 class="d-md-inline">
      <i class="fa fa-sticky-note-o mr-2"></i>Goods Receipt Note
      <span class="order-number">#{{ grnData.grn_number }}</span>
    </h2>
    <div class="d-md-inline float-md-right text-right">
      <span>
        <button mat-button class="btn btn-sm btn-white mr-2" [matMenuTriggerFor]="menu2">
          More
        </button>
        <mat-menu #menu2="matMenu" xPosition="before">
          <button mat-menu-item class="height-40" (click)="editOrder()" appPermission [permissions]="userPermissions"
            [type]="'edit'">
            Edit
          </button>
          <button mat-menu-item class="height-40" (click)="openDeleteBox()" appPermission
            [permissions]="userPermissions" [type]="'delete'">
            Delete
          </button>
        </mat-menu>
      </span>
      <button mat-button class="btn btn-sm btn-white" (click)="goToOrders()">
        <i class="fa fa-chevron-left"></i><span class="back-btn"> Back</span>
      </button>
    </div>
  </div>
  <div class="separator"></div>

  <!--  <div class="approval-holder" *ngIf="hasApprovalPending">-->
  <!--    <div class="approval-box">-->
  <!--      <div class="approve-icon">-->
  <!--        <i class="fa fa-check-square-o"></i>-->
  <!--      </div>-->
  <!--      <div class="approve-content">-->
  <!--        <h2>Approve this order</h2>-->
  <!--        <p>This order has been submitted for approval. Verify and approve the order.</p>-->
  <!--      </div>-->
  <!--      <div class="approve-actions">-->
  <!--        <button mat-button class="approve">Approve</button>-->
  <!--        <button mat-button class="reject">Reject</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <form class="order-form custom-mat square scrolly">
    <!-- <div class="card-body active-form overview">
      <div class="d-flex overview-container">
        <table class="form-col d-inline">
          <tr class="spacer"></tr>
        </table>
      </div>
    </div> -->

    <div class="card-body overview">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Source Warehouse </label>
            <input type="text" class="form-control form-control-sm non-editable"
              [value]="grnData.destination_warehouse?.name" disabled />
          </div>
          <div class="form-group">
            <label for="">Destination Warehouse </label>
            <input type="text" class="form-control form-control-sm non-editable"
              [value]="grnData.source_warehouse?.name" disabled />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">GRN Number </label>
            <input type="text" class="form-control form-control-sm non-editable" [value]="grnData.grn_number"
              disabled />
          </div>
          <div class="form-group">
            <label for="">GRN Date </label>
            <input type="date" class="form-control form-control-sm non-editable" [value]="grnData.grn_date" disabled />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="item-container custom-mat custom-mat-no-border">
        <table>
          <thead>
            <tr>
              <th class="head" *ngFor="let head of itemTableHeaders">
                {{ head.label }}
              </th>
            </tr>
          </thead>
          <tbody class="form-body">
            <tr class="item-row" *ngFor="let item of grnData.goodreceiptnotedetail; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="item-name">
                <input type="text" class="form-control form-control-sm non-editable" [value]="item.item?.item_name"
                  disabled />
              </td>
              <td class="uom-td">
                <input type="text" class="form-control form-control-sm non-editable" [value]="item.item_uom?.name"
                  disabled />
              </td>
              <td>
                <input type="number" min="0" class="form-control non-editable" [value]="item.qty" disabled />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="footer-overview-container">
        <div class="row">
          <div class="form-group col-sm-5">
            <label for="note">GRN Remark</label>
            <textarea class="form-control form-control-sm" id="note" [value]="grnData.grn_remark" disabled></textarea>
          </div>
          <!--          <div class="offset-2 col-sm-5">-->
          <!--            <div class="overall-stats-table">-->
          <!--              <div *ngFor="let stat of orderStats.slice(0, orderStats.length - 1)">-->
          <!--                <span class="stat-label">{{ stat.label }}</span>-->
          <!--                <span class="stat-value">{{ grnData[stat.key] | currency: currencyCode:"symbol": currencyDecimalFormat }}</span>-->
          <!--              </div>-->
          <!--              <div>-->
          <!--                <span class="stat-label final-total">Total</span>-->
          <!--                <span class="stat-value final-total">{{ grnData['grand_total'] | currency: currencyCode:"symbol": currencyDecimalFormat }}</span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </form>
  <div class="footer-block"></div>
</section>