<section>
  <form [formGroup]="offerItemFormGroup">
    <div class="table-responsive">


    <mat-table class="table cardtable table-hover" [dataSource]="dataSource" formArrayName="offerItemFormArray">
      <mat-header-row
        *matHeaderRowDef="displayColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        class="list-row"
        *matRowDef="let row; let i = index; columns: displayColumns"
      ></mat-row>
      <!-- Column definitions -->
      <!-- <ng-container matColumnDef="itemCode">
        <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
        <mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
          <input class="input-control" formControlName="itemCode" placeholder="" />
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
        <mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"data-th="Item Name ">
          <!-- <input
            class="input-control"
            formControlName="itemName"
            placeholder=""
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="getOptionText"
          >
            <mat-option
              *ngFor="let item of filteredItemNames[index] | async"
              [value]="item"
            >
              {{ item.item_name }}
            </mat-option>
          </mat-autocomplete> -->
          <ng-select
            [items]="items"
            [appendTo]="'body'"
            bindLabel="item_name"
            autofocus
            bindValue="id"
            formControlName="item_id"
            (change)="onItemChange($event,index)"
          >
          </ng-select>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="uom">
        <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>
        <mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index" data-th="UOM">
          <!-- {{filteredUoms(index) | json}} -->
          <select *ngIf ="!offerItems"
            class="form-control form-control-sm input-control"
            formControlName="item_uom_id">
            <option *ngFor="let uom of uomArray[index]" [value]="uom.id">{{ uom.name}}</option>
          </select>
          <select *ngIf ="offerItems"
          class="form-control form-control-sm input-control"
          formControlName="item_uom_id">
          <option *ngFor="let uom of uoms" [value]="uom.id">{{ uom.name}}</option>
        </select>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="offeredQty">
        <mat-header-cell *matHeaderCellDef> Offered Quantity </mat-header-cell>
        <mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index" data-th="Offered Quantity">
          <input
            type="number"
            class="input-control"
            formControlName="offered_qty"
            placeholder=""
          />
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let row; let index = index" data-th="Action">
          <button
            class="add-btn"
            *ngIf="isFirstRow(index); else showDelete"
            (click)="addRow()"
          >
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
          </button>
          <ng-template #showDelete>
            <button class="delete-btn" (click)="deleteItem(index)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </ng-template>
        </mat-cell>
      </ng-container>
    </mat-table>
  </div>
  </form>
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <pre>{{ offerItems | json }}</pre>
      </div>
      <div class="col">
        <pre>{{ rows.value | json }}</pre>
      </div>
    </div>
  </div> -->
  <!-- <pre>{{uomArray |json}}</pre> -->
</section>
