.input-control {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 90%;
  height: 36px;
  &:focus {
    outline: none;
  }
}

.delete-btn {
  background-color: #181824;
  color: white;
  border-radius: 0.25rem;

  &:focus {
    outline: none;
  }
}
.add-btn {
  background-color: #181824;
  color: white;
  border-radius: 0.25rem;
  width: 64px;
  &:focus {
    outline: none;
  }
}

.preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .head-col,
  .data-col {
    padding: 0.75rem;
    vertical-align: top;
  }
}

.list-row:last-child {
  border: none;
}


.ng-select {
  width: 95%;
  height: 32px;
  min-height: 32px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 32px;
  min-height: 32px;
}
@media (max-width: 575px){
.cardtable.table tr td:before, .cardtable.table .mat-cell:before {
    content: attr(data-th);
    display: inline-block;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    font-weight: bold;
    width: 9.5em;
    background: #56a2cf;
    color: white;
    margin-right: 10px;
    padding: 0px 10px;
    padding-top: 10px;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
}
}
.ng-value-container{
  padding-inline-start: 15px;
}