section {
  display: block;
}

.separator {
  height: 2px;
  background-color: lightgrey;
}


.actions {
  position: absolute;
  top: 20px;
  right: calc(1.25rem + 48px);

  .more-btn {
    padding: 4px 12px;
    font-size: 14px;
  }

  button {
    min-width: 34px;
    font-size: 18px;
    background: none;
    color: #485156;
    padding: 4px;
    margin: 0 8px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .back-btn {
    font-size: 14px;
    min-width: 50px;
    display: inline-block;
    position: relative;
    top: -2px;
    line-height: inherit !important;
  }
}

button:focus {
  outline: none;
}

.approval-box {
  display: flex;
  margin: 12px calc(1.25rem + 48px);
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #ced4da;
}

.approve-icon {
  width: 64px;
  background-color: #eee;
  margin-right: 10px;
  border-radius: 8px;

  i {
    font-size: 28px;
    margin: 28% auto;
    display: block;
    width: 26px;
  }
}

.approve-content {
  width: 100%;

  h2,
  p {
    margin: 0;
  }
}

.approve-actions {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;

  .approve {
    background-color: #0bb698;
    color: white;
  }

  .reject {
    background: none;
    color: #485156;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}

.order-number {
  font-weight: bolder;
}

//.order-form {
//  .form-control {
//    &:disabled {
//      background: inherit;
//    }
//  }
//}

mat-option {
  &#typeBtn,
  &#custBtn {
    height: 52px;
  }
}

.overview-container {
  padding: 0 48px;
}

.form-col {
  width: 452px;
  margin: 0;

  tr {
    td {
      &:first-of-type {
        min-width: 132px;
      }

      &:last-of-type {
        min-width: 320px;
      }
    }
  }
}

.spacer {
  height: 12px;
}

.item-container {
  margin-top: 20px;
  padding: 0 40px;
  position: relative;
  width: 100%;
  overflow: auto;

  table {
    //width: 920px;
    width: 100%;
    margin: auto;
    border: 1px solid #ced4da;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
      padding: 0;

      &:first-child {
        border-left: none;
        text-align: left;
        max-width: 32px;
      }
    }

    th {
      padding: 4px 0;
      border-top: none;
      text-align: left;
      min-width: 90px;
      background-color: #f3f3f3;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      &:first-child {
        min-width: 32px;
      }
    }

    td {
      .custom-select,
      .form-control {
        font-size: 12px;
        border: 0;
        padding: 0 4px;
        background-color: inherit;

        &:focus {
          box-shadow: none;
        }
      }

      &:focus-within {
        outline: 1px auto #18182490;
      }
    }

    .form-body {
      .non-editable {
        background-color: transparent;
      }
    }
  }
}
.item-container  table tr th{
  padding-left: 4px;
}
.item-container table tr td:first-child,.item-container table tr td:last-child{
  padding-left: 4px !important;
}
.item-container  table tr th:first-child,
.item-container table tr td:first-child {
  border-left: none !important;
}
.item-seq {
  width: 32px;
}

.item-name {
  min-width: 210px;
}

.uom-td {
  min-width: 152px;
}

.item-row {
  position: relative;
}

.overall-stats-table {
  padding: 12px;
  margin:0;
  border: 1px solid #ced4da;
  border-radius: 8px;

  .stat-label {
    padding: 0 12px;
    width: 45%;
    display: inline-block;
    text-align: right;
    color: #495057;
    margin-right: 8px;
  }

  .stat-value {
    font-weight: bolder;
    color: black;
  }
}

textarea {
  min-height: 100px;
  max-height: 150px;
}

.footer-overview-container {
  max-width: 100%;
  padding: 0 35px;
  margin: 32px 0 80px;
}

// New Styles

:host {
  display: block;
  height: 100%;
  background-color: white;
}

textarea.form-control,
input.form-control.form-control-sm {
  border-radius: 0;
  background-color: white;
}

.overall-stats-table {
  border-radius: 0;
  background-color: #f3f3f3;

  div {
    padding: 2px 0;
  }

  .stat-label {
    width: 100px;
  }

  .stat-value {
    width: calc(100% - 108px);
    display: inline-block;
    text-align: right;

    &.final-total {
      padding: 12px 0;
    }
  }
}

.final-total {
  padding: 12px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
}

.footer-block {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #f3f3f3;
  bottom: 0;
  border-top: 1px solid #ced4da;
  box-shadow: 0 0 4px 0 #d3d3d3;
}

.active-form {
  background-color: #f3f3f3;
}
.actions-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 14px 20px;
  background-color: #f3f3f3;
  border-top: 1px solid #ced4da;
  box-shadow: 0 0 4px 0 #d3d3d3;;
  text-align: right;
  right: 0;

  button {
    border-radius: 0;
  }
}
.card-body.overview{
  padding: 10px 40px 5px;
}
.card-header.overview{
  padding: 10px 40px 5px;
}

.setting-btn{
  position: absolute;
  right: -31px;
  top: 0;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  button{
    background:none;
    border:0;
    i{
      font-size:20px;
      color: #181824;
    }
    &:hover,&:focus{
      outline:none;
    }
  }
}
.setting-btn {
  position: absolute;
  top: 8px;
  right: -35px;
  display: inline-block;

  button {
    background-color: transparent;
    border: 0;
  }

  i {
    font-size: 20px;
    color: #181824;
  }
}
.item-sequence {
  position: relative;

  input {
    position: absolute;
    top: 10px;
    left: 10px;
    visibility: hidden;

    &:checked {
      visibility: visible;
    }
  }

  &:hover {
    input {
      visibility: visible;
    }
  }
}
.actions-footer {
  button {
    background-color: #181824;
    color: white;
    border: none;
    width: 154px;
    height: 36px;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: #e9ecef;
      color: #495057;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 575px) {

  .cardtable.item-table  .mat-row{
    display: block;
    min-height: 40px;
  }
  .cardtable  th.mat-header-cell:first-of-type,.cardtable td.mat-cell:first-of-type,.cardtable td.mat-footer-cell:first-of-type {
    padding-left: 40px !important;
  }
  .cardtable.item-table  tr td,.cardtable.item-table .mat-cell{
    border: none;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left\9;
    width: 100%\9;
    //vertical-align: top;
    font-size: .8125rem;
    padding: 0 !important;
    text-align: left;
    border-top: 1px solid #ced4da;
  }
  .cardtable.item-table  tr td.mat-column-select{
    padding:0 !important;
    &:before{
      width: 0;
      padding:0;
    }
  }
  .cardtable.item-table  tr td span{
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px;
    padding-top: 10px;
  }
  
  .cardtable.item-table  tr td:before,.cardtable.item-table .mat-cell:before{
    content: attr(data-th);
    display: inline-block;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    font-weight: bold;
    width: 9.5em;
    background: #56a2cf;
    color: white;
    margin-right: 10px;
    padding: 2px 10px;
    padding-top: 10px;
    font-size: 12px;
  }
  
  .cardtable.item-table th,.cardtable.item-table  thead, .cardtable.item-table thead tr, .cardtable.item-table .mat-header-row {
    display: none;
  }
}