<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <mat-drawer id="formDrawer" mode="over" position="end" #formDrawer class="border">
    <div style="min-width: 300px;">
      <app-add-salesman-form (updateTableData)="updateTableData($event)"></app-add-salesman-form>
    </div>
  </mat-drawer>
  <section>
    <div class="table-box customerbox" [ngClass]="{ collapsed: (isDetailVisible || activityView) }">
      <div class="heading-row clearfix">
        <p class="d-inline" *ngIf="!isDetailVisible && !activityView">
          <i class="os-icon os-icon-briefcase mr-2" aria-hidden="true"></i>
          {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }}
        </p>
        <div class="d-inline float-right">
          <button type="button" class="btn btn-sm btn-white mr-1" (click)="openActivityMap()"><i
              class="fa fa-map-marker" aria-hidden="true"></i></button>
          <button appPermission [permissions]="userPermissions" [type]="'create'" type="button" class="btn btn-sm btn-p"
            (click)="openAddSalesMan()">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <!-- impot /Export  -->
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')">Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
          <button class="btn btn-sm btn-white ml-2 dropdown-toggle" [matMenuTriggerFor]="menu3">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openImpotSalesman()">Import {{ domain == "merchandising" || domain == 'nfpc'
              ? 'Merchandiser' : 'Salesman' }}</button>
            <button mat-menu-item type="button" (click)="openExportSalesman()">Export {{ domain == "merchandising" ||
              domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }}</button>
          </mat-menu>
        </div>
      </div>
      <app-salesman-dt (itemClicked)="itemClicked($event)" (selectedRows)="selectedRows($event)"
        [newSalesmanData]="newSalesmanData"></app-salesman-dt>
    </div>
    <div class="details-box bg-white" [ngClass]="{ expanded: isDetailVisible }">
      <app-salesman-detail (updateTableData)="updateTableData($event)" (detailsClosed)="closeClicked()"
        [isDetailVisible]="isDetailVisible" [salesMan]="salesMan">
      </app-salesman-detail>
    </div>
    <div class="details-box bg-white" *ngIf="activityView == true" [ngClass]="{ expanded: activityView }">
      <app-salesman-activity-detail (mapDetailsClosed)="mapDetailsClosed()">
      </app-salesman-activity-detail>
    </div>
  </section>
</mat-drawer-container>