<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <mat-drawer id="formDrawer" mode="over" position="end" #formDrawer class="border">
    <div style="min-width: 300px;">
      <app-add-item-form (updateTableData)="updateTableData($event)"></app-add-item-form>
    </div>
  </mat-drawer>

  <div class="table-box customerbox" [ngClass]="{ collapsed: isDetailVisible }">
    <div class="heading-row clearfix">
      <p class="d-inline" *ngIf="!isDetailVisible">
        <i class="os-icon os-icon-shopping-bag mr-2" aria-hidden="true"></i>
        Item
      </p>
      <div class="d-inline float-right">
        <button type="button" class="btn btn-sm btn-p" appPermission [permissions]="userPermissions" [type]="'create'"
          (click)="openAddItem()">
          <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
        </button>
        <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
          [matMenuTriggerFor]="menu2">
          Bulk Actions
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
          <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
          <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
            Delete
          </button> -->
        </mat-menu>
        <!-- impot /Export  -->
        <button class="btn btn-sm btn-white ml-2 dropdown-toggle" [matMenuTriggerFor]="menu3">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item (click)="openImportItem()">Import Items</button>
          <button mat-menu-item type="button" (click)="openExportItem()">Export Items</button>
        </mat-menu>
      </div>
    </div>
    <app-item-dt (itemClicked)="itemClicked($event)" (selectedRows)="selectedRows($event)" [newItemData]="newItemData">
    </app-item-dt>
  </div>
  <div class="details-box bg-white" [ngClass]="{ expanded: isDetailVisible }">
    <app-item-detail (detailsClosed)="closeClicked()" (updateTableData)="updateTableData($event)"
      [isDetailVisible]="isDetailVisible" [item]="item">
    </app-item-detail>
  </div>
</mat-drawer-container>