<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.customerName }} </td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{ element.location }} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container> -->
            <ng-container matColumnDef="total_task">
                <th mat-header-cell *matHeaderCellDef> Total Tasks </th>
                <td mat-cell *matCellDef="let element"> {{ element.total_task }} </td>
            </ng-container>
            <ng-container matColumnDef="completedTask">
                <th mat-header-cell *matHeaderCellDef> Completed Tasks </th>
                <td mat-cell *matCellDef="let element"> {{ element.completedTask }} </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{ element.startTime }} </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> End Time </th>
                <td mat-cell *matCellDef="let element"> {{ element.endTime }} </td>
            </ng-container>
            <ng-container matColumnDef="proximity">
                <th mat-header-cell *matHeaderCellDef> Proximity (m) </th>
                <td mat-cell *matCellDef="let element"> {{ element.proximity }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="15" [pageSizeOptions]="[5,10,15]"></mat-paginator>
</div>