<ng-container *ngIf="advanceSearchRequest.length>0">
  <app-search-criteria [data]="advanceSearchRequest" (change)="onChangeCriteria()" (close)="onCloseCriteria()">
  </app-search-criteria>
</ng-container>

<div class="pl-3 items-table-box  w-100">
  <div class="table-responsive">
    <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.added_on }}</td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Customer </th>
        <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }} {{ element.customer?.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="merchandiser">
        <th mat-header-cell *matHeaderCellDef> Merchandiser </th>
        <td mat-cell *matCellDef="let element"> {{ element.salesman?.firstname }} {{ element.salesman?.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="no_of_sku">
        <th mat-header-cell *matHeaderCellDef> No of SKU </th>
        <td mat-cell *matCellDef="let element"> {{ element.no_of_sku }}</td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail w-100" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div *ngIf='element' class="w-100">
              <div class="hscroll">
                <div *ngFor="let brand of element.share_our_brand; let oi = index;" class="items-table-box pl-2 pr-2">
                  <p class="text-center font-weight-bold">Our Brand {{oi+1}}</p>
                  <div class="table-responsive">
                    <table class="mat-elevation-z8 table table-hover">
                      <tr>
                        <th>Brand</th>
                        <th>Captured SKU</th>
                        <th>Brand Share</th>
                      </tr>
                      <tr>
                        <td>{{brand.brand?.brand_name}}</td>
                        <td>{{brand.captured_sku}}</td>
                        <td>{{brand.brand_share}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div *ngFor="let brand of element.share_competitor; let ci = index;" class="items-table-box pr-2">
                  <p class="text-center font-weight-bold">Competitor Brand {{ci+1}}</p>
                  <div class="table-responsive">
                    <table class="mat-elevation-z8 table table-hover">
                      <tr>
                        <th>Brand</th>
                        <th>Captured SKU</th>
                        <th>Brand Share</th>
                      </tr>
                      <tr>
                        <td>{{brand.competitor_info?.brand}}</td>
                        <td>{{brand.competitor_sku}}</td>
                        <td>{{brand.brand_share}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="expandList(row)"
        class="element-row" [class.expanded-row]="row === expandedElement ? true : false"></tr>
      <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
</div>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>