<section>
  <div class="heading-row">
    <h2 class="d-inline">{{ pageTitle }}</h2>
    <div class="d-inline float-right">
      <button [routerLink]="['/transaction/collection']" class="btn-sm btn btn-white float-right">Back</button>

    </div>
  </div>
  <div class="separator"></div>
  <form [formGroup]="collectionForm" class="order-form custom-mat square scrolly">
    <div class="card-header active-form overview">
      <div class="row">
        <div class="col-md-4">
          <label for="">Customer</label>
          <div class="form-group ">
            <mat-form-field class="example-full-width" id="customerField">
              <input type="text" placeholder="Search Customer" matInput required [formControl]="customerFormControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="customerSelected()"
                [displayWith]="customerControlDisplayValue">
                <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                  {{ customer.user.firstname }}
                  {{ customer.user.lastname }} - {{ customer.customer_code }} </mat-option>
                <mat-option id="custBtn" class="in-opt-btn"><button (click)="addCustomer()"><i
                      class="os-icon os-icon-plus"></i>
                    Add Customer</button></mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="customerFormControl.hasError('required')">Please select a customer</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <div [ngClass]="{ 'inactive-form': customerFormControl.invalid }">
      <div class="card-body overview custom-mat" [ngClass]="{ 'disable-box': customerFormControl.invalid }">
        <div class="row justify-content-between">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Payment Mode</label>
              <mat-form-field>
                <mat-label>Select Payment Mode</mat-label>
                <mat-select class="no-disabled-text" id="modeField" [formControl]="collectionTypeFormControl" required>
                  <mat-option *ngFor="let mode of payModes" [value]="mode.id">{{ mode.name }}</mat-option>
                  <!--<mat-option id="typeBtn" class="in-opt-btn"><button (click)="addOrderType()"><i class="os-icon os-icon-plus"></i> Add Type</button></mat-option>-->
                </mat-select>
                <mat-error *ngIf="collectionTypeFormControl.hasError('required')">Please select a payment mode
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="">Amount Received</label>
              <input type="text" placeholder="Enter amount to pay" [formControl]="invoiceAmountFormControl"
                class="form-control form-control-sm">
              <app-validation-message [control]="invoiceAmountFormControl"></app-validation-message>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Collection Number</label>
              <div class="position-relative">
                <input type="text" class="form-control form-control-sm" (keypress)="restrictLength($event)"
                  [formControl]="numberFormControl" id="numberField">
                <span class="setting-btn"><button (click)="openNumberSettings()"><i
                      class="os-icon os-icon-settings"></i></button></span>
              </div>
            </div>
            <div class="form-group">
              <label for="">Collection Date</label>
              <input type="date" class="form-control form-control-sm" required [formControl]="dateFormControl"
                id="collectionDate">
              <app-validation-message [control]="dateFormControl"></app-validation-message>
            </div>
            <div class="form-group">
              <label for="">Payment Priority</label>
              <ul class="list-inline mt-2">
                <li class="list-inline-item">
                  <app-radio-button [isMatStyle]="true"
                    [config]="{ label: 'FIFO', value: 1, name: 'priority', control: paymentTypeFormControl }">
                  </app-radio-button>
                </li>
                <li class="list-inline-item">
                  <app-radio-button [isMatStyle]="true"
                    [config]="{ label: 'LIFO', value: 2, name: 'priority', control: paymentTypeFormControl }">
                  </app-radio-button>

                </li>
                <li class="list-inline-item">
                  <app-radio-button [isMatStyle]="true"
                    [config]="{ label: 'Manual', value: 3, name: 'priority', control: paymentTypeFormControl }">
                  </app-radio-button>

                </li>
              </ul>


            </div>
          </div>
        </div>
      </div>
      <div class="card-body custom-mat check-detail-box" [ngClass]="{ 'disable-box': customerFormControl.invalid }"
        *ngIf="collectionTypeFormControl.value === 1">
        <div class="d-flex overview-container">
          <table class="check-form-col d-inline">
            <tr>
              <td>Check Number</td>
              <td><input type="text" formControlName="cheque_number" class="form-control form-control-sm">
                <app-validation-message [control]="collectionForm.get('cheque_number')"></app-validation-message>
              </td>
            </tr>
          </table>
          <table class="check-form-col d-inline">
            <tr>
              <td>Bank Name</td>
              <td><input type="text" formControlName="bank_info" class="form-control form-control-sm">
                <app-validation-message [control]="collectionForm.get('bank_info')"></app-validation-message>
              </td>
            </tr>
          </table>
          <table class="check-form-col d-inline">
            <tr>
              <td>Check Date</td>
              <td><input type="date" formControlName="cheque_date" class="form-control form-control-sm">
                <app-validation-message [control]="collectionForm.get('cheque_date')"></app-validation-message>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="invoices-form">
        <div class="filter-box row">
          <div class="col-lg-2 label">Invoices From Date</div>
          <div class="col-lg-3"><input type="date" placeholder="from" class="form-control form-control-sm"></div>
          <div class="col-lg-2 label">to Date</div>
          <div class="col-lg-3"><input type="date" placeholder="to" class="form-control form-control-sm"></div>
          <!-- <div class="col-sm-2"><button class="mat-inherit-line-height" color="primary"  mat-raised-button (click)="saveCollection()">Apply</button></div> -->
        </div>

        <div class="item-container custom-mat custom-mat-no-border">
          <div class="table-responsive">
            <table class="invoice-table cardtable table">
              <thead>
                <tr>
                  <th class="head" *ngFor="let head of tableHeaders">{{ head.name }}</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="form-body">
                <tr class="item-row" *ngFor="let invoice of invoiceForms; let i = index;">
                  <ng-container [formGroup]="invoice">
                    <td data-th="#" class="center"><span>{{ i + 1 }}</span> </td>
                    <td data-th="Invoice Date" class="center"><input type="text" class="form-control-sm"
                        formControlName="invoice_date"></td>
                    <td data-th="Invoice Number" class="center"><input type="text" class="form-control-sm"
                        formControlName="invoice_number"></td>
                    <td data-th="Total Amount" class="center"><input type="text" class="form-control-sm"
                        formControlName="total_amount"></td>
                    <td data-th="PAID AMOUNT" class="center"><input type="number" min="0"
                        class="form-control-sm paid-amount" [ngClass]="{ 'editable': enableManual }"
                        formControlName="paid_amount"></td>
                    <td data-th="Action"> <button [disabled]="invoiceForms.length <= 1" class="trash-btn"
                        (click)="clearInvoice(i)"><i class="fa fa-close"></i></button></td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <table class="table-check">
            <thead>
            <tr><th class="head"></th></tr>
            </thead>
            <tbody>
            <tr class="item-row" *ngFor="let item of invoiceForms; let i = index;">
              <button [disabled]="invoiceForms.length <= 1" class="trash-btn" (click)="clearInvoice(i)"><i class="fa fa-close"></i></button>
            </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-primary" [disabled]="collectionForm.invalid || invoiceForms.length < 1"
        (click)="saveCollection()">Save & Submit</button>
    </div>
  </form>
</section>