section {
  display: block;
}

.separator {
  height: 2px;
  background-color: lightgrey;
}

.center{
  text-align: center;
}


button:focus {
  outline: none;
}

.order-form {
  //height: calc(100vh - 124px);
  overflow: scroll;
}

input {
  &:disabled {
    background-color: transparent;
  }
}

mat-option {
  &#typeBtn,
  &#custBtn {
    height: 52px;
  }
}

.in-opt-btn {
  button {
    width: 100%;
    background-color: #181925;
    color: white;
    border-radius: 4px;
    height: 34px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      margin-right: 8px;
    }
  }
}

.add-btn {
  padding-left: 0;
  position: relative;

  button {
    cursor: pointer;
    background-color: #181925;
    color: white;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    top: 40px;

    &:focus {
      outline: none;
    }
  }
}

mat-form-field {
  display: block;
}

.actions {
  //margin: 16px 62px 40px 0;
  //display: flex;
  //flex-direction: row-reverse;

  button {
    background-color: #181824;
    color: white;
    border: none;
    min-width: 132px;
    height: 36px;
    border-radius: 4px;
    //float: right;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: #e9ecef;
      color: #fff;
      cursor: not-allowed;
    }
  }
}

.overview-container {
  padding: 0 48px;
}

.form-col {
  width: 440px;

  tr {
    td {
      &:first-of-type {
        min-width: 142px;
      }

      &:last-of-type {
        min-width: 320px;
      }
    }
  }
}

.check-detail-box {
  margin-top: 12px;

  div {
    padding-bottom: 20px;
    border: 1px solid #ced4da;
    justify-content: center;
  }
}

table.check-form-col {
  width: 300px;
  margin-right: 24px;

  tr {
    td {
      &:first-of-type {
        min-width: 100px;
      }

      &:last-of-type {
        min-width: 200px;
      }
    }
  }
}

.spacer {
  height: 12px;
}

input.form-control {
  background-color: white;
  border: 1px solid #ced4da;
  padding-left: 8px;
  font: 500 12px/24px Muli, sans-serif;
  letter-spacing: normal;
  height: 32px;
}

input.form-control:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0;
}

//.loader-holder {
//  max-width: 60px;
//  height: 60px;
//  background-color: #0db6a0;
//  position: relative;
//  margin: 15% auto 0;
//  border-radius: 30px;
//  border: 12px solid #0db6a0;
//  border-right-color: #fafafa;
//  animation: rotation 1s infinite ease-out;
//}
//
//.loader-content {
//  width: 50px;
//  height: 50px;
//  background-color: #fafafa;
//  position: absolute;
//  top: -7px;
//  left: -7px;
//  border-radius: 25px;
//}
//
//@keyframes rotation {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(359deg);
//  }
//}


.invoices-form {
  padding: 28px;
  margin: 20px auto 64px;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.filter-box {
  margin: 16px auto;

  .label {
    text-align: right;
    position: relative;
    top: 4px;
  }
}

.item-container {
  padding: 0 24px;
  margin: 20px auto 0;
  position: relative;
  justify-content: flex-start;
  display: flex;
  //width: 1090px;
  overflow: auto;

  .table-check {
    width: 20px;
    margin: 0;

    tr {
      height: 31px;
    }

    .item-row {
      height: 31px;

      input {
        position: relative;
        top: 10px;
      }
    }
  }

  .invoice-table {
    width: 100%;
    margin: 0;
    border: 1px solid #ced4da;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
      padding:2px;
      &:first-child {
        border-left: none;
        text-align: left;
        width: 32px;
      }
    }

    th {
      padding: 4px 0;
      border-top: none;
      text-align: left;
      min-width: 90px;
      background-color: #f3f3f3;

      &:first-child {
        min-width: 0;
      }
    }

    td {
      .form-control-sm {
        font-size: 12px;
        border: 0;
        padding: 0 4px;
        background-color: inherit;

        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }

      &:focus-within {
        outline: 1px auto #18182490;
      }

      &.stats-cell {
        max-width: 90px;
      }
    }

    .form-body {
      .non-editable {
        background-color: transparent;
      }
    }
  }

  input.paid-amount {
    width: 100%;
    pointer-events: none;

    &.editable {
      pointer-events: inherit;
    }
  }
}

.item-name {
  min-width: 120px;
}

.uom-td {
  min-width: 120px;
}

.item-row {
  position: relative;
}

.trash-btn-div {
  box-sizing: content-box;
  position: absolute;
  height: 24px;
  width: 24px;
  padding: 8px 12px;
}

.trash-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  margin: 4px 0 0 6px;
  color: #ff5656;
  border: 1px solid #ff5656;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
  }

  i {
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    top: 5px;
    left: 6.5px;
  }
}

.add-item-btn {
  background-color: #181824;
  color: white;
  margin: 8px 0;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.overall-stats-table {

  padding: 12px;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 8px;

  .stat-label {
    padding: 0 12px;
    width: 45%;
    display: inline-block;
    text-align: right;
    color: #495057;
    margin-right: 8px;
  }

  .stat-value {
    font-weight: bolder;
    color: black;
  }
}

textarea {
  height: 100px;
}

.footer-overview-container {
  max-width: 100%;
  padding: 0 40px;
  margin-top: 20px;
}

.priority-box {
  display: flex;
  align-items: center;

  .label {
    max-width: 12.66666%;
  }

  app-radio-button {
    position: relative;
    top: 4px;

  }
}

.customer-box {
  width: 250px;
  padding-left: 48px;
  margin: 0 auto 0 1.25rem;
}

.disable-box {
  opacity: .35;
  pointer-events: none;
}

//input[type=date].ng-invalid,
//[formControlName].ng-invalid {
//  &:focus {
//    outline: 1px auto red;
//  }
//}

//New styles
section {
  display: block;
  background-color: white;
  height: 100%;
}



.active-form {
  background-color: #f3f3f3;
}

.inactive-form {
  pointer-events: none;
  opacity: 0.35;
  cursor: not-allowed;
}

.item-container {
  &.inactive-form {
    opacity: 1;
  }
}

.square {
  .form-control.form-control-sm {
    border-radius: 0;
  }
}

.bottom-form {
  margin-bottom: 62px;
}

.overall-stats-table {
  border-radius: 0;
  background-color: #f3f3f3;

  div {
    padding: 4px 0;
  }

  .stat-label {
    width: 120px;
  }

  .stat-value {
    width: calc(100% - 128px);
    display: inline-block;
    text-align: right;

    &.final-total {
      padding: 12px 0;
    }
  }
}

.final-total {
  padding: 12px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
}

.actions {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 14px 20px;
  background-color: #f3f3f3;
  border-top: 1px solid #ced4da;
  box-shadow: 0 0 4px 0 #d3d3d3;
  left: 0;
  text-align: right;

  button {
    border-radius: 0;
  }
}

.spacer {
  height: 16px;
}

#typeBtn.in-opt-btn,
#custBtn.in-opt-btn {
  height: 34px;

  button {
    width: 100%;
    background-color: transparent;
    color: #181824;
    height: 34px;
    margin: auto;
    display: flex;
    border: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
}

.form-col {
  margin-top: 0;
}
.overview-container {
  padding: 0 40px;
}
.card-body.overview{
  padding: 10px 40px 5px;
}
.card-header.overview{
  padding: 10px 40px 5px;
}

.setting-btn{
  position: absolute;
  right: -31px;
  top: 0;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  button{
    background:none;
    border:0;
    i{
      font-size:20px;
      color: #181824;
    }
    &:hover,&:focus{
      outline:none;
    }
  }
}
@media (max-width: 991px) {
  .item-container table.item-table th:first-child, .item-container table.item-table td:first-child {
    border-left: none;
    text-align: left;
    width: 100%;
    min-width: 100%;
}
  .mat-form-field {
  
    margin: 0 0 15px;
}
  .cardtable{
    border: 0 !important;
    tr{
      td{
        border: 1px solid #ced4da;
        border-bottom: 0;
        min-width: 100%;
        &:last-child{
          border-bottom: 1px solid #ced4da !important;
        }
      }
    }
    .mat-form-field{
      margin:0 !important;
    }
    .item-row {
      margin-bottom: 10px;
      display: block;
  }
  }
  .cardtable input.mat-input-element {
    margin-top: 0;
    height: 34px;
  }
  .item-container {
    padding: 0 12px;
    display: block;
  }

  .invoices-form {
    padding: 0;

  }
 

  .filter-box .label {
  text-align: left;
  top: 0px; 
  margin: 10px 0;
}
.priority-box.label{
  max-width: 100%;
}
  .mat-form-field {
  
    margin: 0 0 15px;
}
.spacer {
  height: 6px;
}
.item-container {
  padding: 0 20px;
  display: block;
}
.footer-overview-container {
    
  padding: 0 20px;
}
.item-table tbody tr td:first-child {
width: 100%;
}
}