<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.customerName }} </td>
            </ng-container>
            <ng-container matColumnDef="salesman_name">
                <th mat-header-cell *matHeaderCellDef> Salesman Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.salesmanName }} </td>
            </ng-container>
            <ng-container matColumnDef="salesman_email">
                <th mat-header-cell *matHeaderCellDef> Salesman Email </th>
                <td mat-cell *matCellDef="let element"> {{ element.salesmanEmail }} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_latitude">
                <th mat-header-cell *matHeaderCellDef> Merchandiser Latitude </th>
                <td mat-cell *matCellDef="let element"> {{ element.merchandiser_latitude }} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_longitude">
                <th mat-header-cell *matHeaderCellDef> Merchandiser Longitude </th>
                <td mat-cell *matCellDef="let element"> {{ element.merchandiser_longitude }} </td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{ element.role }} </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :"d MMM y h:mm a" }} </td>
            </ng-container>
            <ng-container matColumnDef="visit_date">
                <th mat-header-cell *matHeaderCellDef> Visit Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.visitDate | date :"d MMM y h:mm a" }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>