<section class="scrolly clearfix">
  <div class="table-responsive">
    <table class="table  table-hover" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox class="head-checkbox" (change)="$event ? toggleSelection() : null" (change)="getSelectedRows()"
            [checked]="selections.hasValue() && isAllSelected()"
            [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
          <a class="filter-btn btn btn-sm " *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu">
            <i class="fa fa-table" aria-hidden="true"></i>
          </a>
          <mat-menu #menu="matMenu">
            <div class="card-body p-2" style="min-width: 200px;">
              <ul style="list-style:none; padding-left: 7px;">
                <li *ngFor="let column of filterColumns">
                  <input type="checkbox" [(ngModel)]="column.show" class="m-2" (click)="$event.stopPropagation()">
                  {{column.title}}
                </li>
              </ul>
              <div class="float-right mb-2">
                <button class="btn btn-p bg-secondary">Cancel</button>
              </div>
            </div>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox class="row-checkbox" (click)="$event.stopPropagation()"
            (change)="$event ? selections.toggle(row) : null" (change)="getSelectedRows()"
            [checked]="selections.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="salesman_info.salesman_code">
        <th mat-header-cell *matHeaderCellDef> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Code </th>
        <td mat-cell *matCellDef="let element"> {{ element?.salesman_code }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Name </th>
        <td mat-cell *matCellDef="let element"> {{ element?.user?.firstname }} {{ element?.user?.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="salesman_info.salesman_type">
        <th mat-header-cell *matHeaderCellDef> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Type </th>
        <td mat-cell *matCellDef="let element"> {{ element?.salesman_type?.name }} </td>
      </ng-container>
      <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef [hidden]="domain == 'merchandising' || domain == 'nfpc'"> Route </th>
        <td mat-cell *matCellDef="let element" [hidden]="domain == 'merchandising' || domain == 'nfpc'"> {{ element?.route?.route_name }} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetailView(row)"></tr>
    </table>
  </div>
</section>

<div [ngClass]="{'hidden': !dataSource.data.length}">
  <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)" [length]="apiResponse.pagination?.total_records" [pageSize]="pageSize"
    [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div>