<div class="card">
  <div class="card-header pt-4">
    <span class="h6 font-weight-bold text-secondary">{{formType}} Portfolio</span>
    <a (click)="close()" class="closeicon settingclose"><i class="os-icon os-icon-x text-secondary float-right"
        aria-hidden="true"></i></a>
  </div>
  <div class="form-box">
    <form [formGroup]="portfolioFormGroup">
      <div class="card-body">
        <div class="">
          <div class="row mb-4">
            <div class="col-md-4">Code</div>
            <div class="col-md-8">
              <input class="form-control form-control-sm" (keypress)="restrictLength($event)" style="width: 95%;"
                type="text" [formControl]="CodeFormControl">
              <a [hidden]="formType == 'Edit'" (click)="open()" class="ml-2 settingIcon"><i
                  class="os-icon os-icon-ui-46" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">Name</div>
            <div class="col-md-8">
              <input class="form-control form-control-sm" type="text" [formControl]="NameFormControl">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">Valid From</div>
            <div class="col-md-8">
              <input class="form-control form-control-sm" type="date" [formControl]="startFormControl">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">Valid To</div>
            <div class="col-md-8">
              <input class="form-control form-control-sm" type="date" [formControl]="endFormControl">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">Customer</div>
            <div class="col-md-8">
              <app-multiautocomplete [options]="customerID"
                  [control]="CustomerFormControl" text="" id="user_id"
                  objectName="user" param1="firstname" param2="lastname">
              </app-multiautocomplete>
              <!-- <mat-select class="form-control form-control-sm" multiple [formControl]="CustomerFormControl">
                <mat-option *ngFor="let item of customerID " [value]="item.user?.id">
                  {{ item.user?.firstname }} {{ item.user?.lastname }}
                </mat-option>
              </mat-select> -->
            </div>
          </div>
          <hr />
        </div>
      </div>
    </form>
    <!-- itemFormGroup group -->
    <form *ngIf="!portfolioFormGroup.invalid" class="changeMargin" [formGroup]="itemFormGroup">
      <div class="card-body">
        <div class="">
          <h3> Select Item </h3>
          <div class="row mb-4">
            <div class="col-md-3">Item Code</div>
            <div class="col-md-8">
              <mat-select class="form-control form-control-sm" [formControl]="ItemCodeFormControl">
                <mat-option *ngFor="let item of itemData " [value]="item.id">
                  {{ item.item_code }} / {{ item.item_name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-3">Listing Fees</div>
            <div class="col-md-8">
              <input type="number" class="form-control form-control-sm" [formControl]="ItemListingFeesFormControl">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-3">Store Price</div>
            <div class="col-md-8">
              <input type="number" class="form-control form-control-sm" [formControl]="ItemStorePriceFormControl">
            </div>
          </div>
          <div class="row item-add-btn">
            <button class="col-md-2" (click)="addItemCode()"><i class="os-icon os-icon-plus"></i>Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="items-table-box">
    <div class="table-responsive">
      <table mat-table [dataSource]="itemSource" *ngIf="itemSource.data.length"
        class="mat-elevation-z8 table table-hover">
        <ng-container matColumnDef="itemCode">
          <th mat-header-cell *matHeaderCellDef> Item Code </th>
          <td mat-cell *matCellDef="let element"> {{ element.item_code }} </td>
        </ng-container>
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef> Item Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.item_name }} </td>
        </ng-container>
        <ng-container matColumnDef="store_price">
          <th mat-header-cell *matHeaderCellDef> Store Price </th>
          <td mat-cell *matCellDef="let element"> {{ element.store_price }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element; index as index">
            <button (click)="editItemCode(index, element)"><i class="fa fa-edit"></i></button>
            <button (click)="deleteItemCode(index)" class="trash-btn"><i class="fa fa-trash"></i></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]">
    </mat-paginator>
  </div>
  <div class="card-footer">
    <div class="d-inline float-right">
      <button class="btn btn-sm btn-light mr-2" (click)="close()">Cancel</button>
      <button class="btn btn-sm btn-p" (click)="savePortfolioItemGroupData()">Save</button>
    </div>
  </div>
</div>