<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
            <ng-container matColumnDef="visitDate">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.date !== 'N/A' ? (element.trip_start_date | date :"d MMM y h:mm a") : 'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_name">
                <th mat-header-cell *matHeaderCellDef> Merchandiser Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.merchandiserName }} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_code">
                <th mat-header-cell *matHeaderCellDef> Merchandiser Code </th>
                <td mat-cell *matCellDef="let element"> {{ element.merchandiserCode }} </td>
            </ng-container>
            <ng-container matColumnDef="check_in_time">
                <th mat-header-cell *matHeaderCellDef> Check In Time </th>
                <td mat-cell *matCellDef="let element"> {{ element.check_in_time }} </td>
            </ng-container>
            <ng-container matColumnDef="check_out_time">
                <th mat-header-cell *matHeaderCellDef> Check Out Time </th>
                <td mat-cell *matCellDef="let element"> {{ element.check_out_time }} </td>
            </ng-container>
            <ng-container matColumnDef="total_time">
                <th mat-header-cell *matHeaderCellDef> Total Time </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalTripTime }} </td>
            </ng-container>
            <ng-container matColumnDef="start_of_work">
                <th mat-header-cell *matHeaderCellDef> Start of Work </th>
                <td mat-cell *matCellDef="let element"> {{ element.start_work || "00:00" }} </td>
            </ng-container>
            <ng-container matColumnDef="end_of_work">
                <th mat-header-cell *matHeaderCellDef> End of work </th>
                <td mat-cell *matCellDef="let element"> {{ element.end_work || "00:00" }} </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="element-detail w-100"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div *ngIf='element.customerVisits?.length > 0' class="w-100">
                      <app-customer-table [displayData]="element.customerVisits"></app-customer-table>
                    </div>
                    <br />
                  </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="expandList(row)" class="element-row"
          [class.expanded-row]="row === expandedElement ? true : false"></tr>
        <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>