<div class="pl-3 row mb-4 mt-4" *ngIf="sosData">
    <div class="col-md-1 col-form-label">Date</div>
    <div class="col-md-3 mb-md-0 mb-2">
        <input class="form-control form-control-sm" type="date" [formControl]="dateFilterControl">
    </div>
    <div class="col-md-3 item-add-btn">
        <button type="button" (click)="getSosList('date', true)" class=" mr-2 btn btn-sm btn-primary">Filter</button>
        <button type="button" (click)="getSosList('all', true)" class=" btn btn-sm btn-danger">All</button>
    </div>
</div>
<div class="items-table-box pl-3">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element"> {{ element.item?.item_name }} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Customer </th>
                <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }}
                    {{ element.customer?.lastname }}</td>
            </ng-container>
            <ng-container matColumnDef="salesman">
                <th mat-header-cell *matHeaderCellDef> Salesman </th>
                <td mat-cell *matCellDef="let element"> {{ element.salesman?.firstname }}
                    {{ element.salesman?.lastname }}</td>
            </ng-container>
            <ng-container matColumnDef="total_facing">
                <th mat-header-cell *matHeaderCellDef> Total No. of Facing </th>
                <td mat-cell *matCellDef="let element"> {{ element?.total_number_of_facing }}</td>
            </ng-container>
            <ng-container matColumnDef="actual_facing">
                <th mat-header-cell *matHeaderCellDef> Actual No. of Facing </th>
                <td mat-cell *matCellDef="let element"> {{ element?.actual_number_of_facing }}</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let element"> {{ element?.score }} %</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]">
    </mat-paginator>
</div>