<div class="card">
  <div class="card-header pt-4">
    <span class="h6 font-weight-bold text-secondary">{{formType}} Route Item Group</span>
    <a (click)="close()" class="closeicon settingclose"><i class="os-icon os-icon-x text-secondary float-right"
        aria-hidden="true"></i></a>
  </div>
  <div class="form-box">
    <form [formGroup]="routeItemFormGroup">
      <div class="card-body">
        <div class="container">
          <div class="form-group">
            <label for="">CODE</label>
            <div class="siconhol">
              <input class="form-control form-control-sm" (keypress)="restrictLength($event)" type="text"
                [formControl]="CodeFormControl">
              <a [hidden]="formType == 'Edit'" (click)="open()" class="ml-2 settingIcon"><i
                  class="os-icon os-icon-ui-46" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="form-group">
            <label for="">NAME</label>
            <input class="form-control form-control-sm" type="text" [formControl]="NameFormControl">
          </div>
          <div class="form-group" *ngIf="domain !== 'merchandising' && domain !== 'nfpc'">
            <label for="">ROUTE</label>
            <mat-select class="form-control form-control-sm" [formControl]="RouteFormControl">
              <mat-option *ngFor="let item of routeID " [value]="item.id">
                {{ item.route_name }}
              </mat-option>
            </mat-select>
          </div>
          <div class="form-group" *ngIf="domain == 'merchandising' || domain == 'nfpc'">
            <label for="">Merchandiser</label>
            <app-multiautocomplete isSingle="true" [options]="merchandisers"
                [control]="merchandiserFormControl" text="" id="user_id" objectName="user"
                param1="firstname" param2="lastname">
              </app-multiautocomplete>
            <!-- <mat-select class="form-control form-control-sm" [formControl]="merchandiserFormControl">
              <mat-option *ngFor="let item of merchandisers " [value]="item.user_id ">
                {{ item.user?.firstname }} {{ item.user?.lastname }}
              </mat-option>
            </mat-select> -->
          </div>
          <hr />
        </div>
      </div>
    </form>
    <!-- itemFormGroup group -->
    <form *ngIf="!routeItemFormGroup?.invalid" class="changeMargin" [formGroup]="itemFormGroup">
      <div class="card-body">
        <div class="container">
          <h3> Select Item </h3>
          <div class="row mb-4">
            <div class="col-md-3">Item Code</div>
            <div class="col-md-8">
              <mat-select class="form-control form-control-sm" [formControl]="ItemCodeFormControl">
                <mat-option *ngFor="let item of itemData " [value]="item.id">
                  {{ item.item_code }} / {{ item.item_name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="row item-add-btn">
            <button class="col-md-2 btn-p" (click)="addItemCode()"><i class="os-icon os-icon-plus"></i>Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="items-table-box">
    <table mat-table [dataSource]="itemSource" *ngIf="itemSource.data.length" class="mat-elevation-z8">
      <ng-container matColumnDef="itemCode">
        <th mat-header-cell *matHeaderCellDef> Item Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.item_id }} </td>
      </ng-container>
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef> Item Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.item_name }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; index as index">
          <button (click)="editItemCode(index, element)"><i class="fa fa-edit"></i></button>
          <button (click)="deleteItemCode(index)" class="trash-btn"><i class="fa fa-trash"></i></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]">
    </mat-paginator>
  </div>
  <div class="card-footer">
    <div class="d-inline float-right">
      <button class="btn btn-sm btn-light mr-2" (click)="close()">Cancel</button>
      <button class="btn btn-sm btn-p" (click)="saveRouteItemGroupData()">Save</button>
    </div>
  </div>
</div>