<section *ngIf="salesMan">
  <div class="pl-3">
    <div class="row">
      <h2 class="page-title col-sm-10 font-weight-light">{{salesMan?.firstname}} {{ salesMan?.lastname }}</h2>
      <div class="actions col-sm-2">
        <button (click)="openEditSalesMan()" appPermission [permissions]="userPermissions"  [type]="'edit'" class="iconbtn"><i class="os-icon os-icon-edit" aria-hidden="true"></i></button>&nbsp;
        <div>
          <button class="btn btn-sm btn-white dropdown-toggle" mat-button [matMenuTriggerFor]="menu2">More</button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="toggleStatus()">Mark as
              {{ salesMan?.status === 0 ? 'Active' : 'Inactive' }}</button>
            <button appPermission [permissions]="userPermissions"  [type]="'delete'" mat-menu-item (click)="openDeleteBox()">Delete</button>
          </mat-menu>
        </div>
        <button *ngIf="isDetailVisible" class="btn" (click)="closeDetailView()"><i class="os-icon os-icon-close"></i></button>
      </div>
    </div>
  </div>
  <div class="pl-3 salesMan-data">
    <div class="row h-100">
      <div class="col-12">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Overview">

            <div class="row mb-3 ml-0" *ngIf="salesMan.need_to_approve=='yes'" >
              <div class="approval-holder">
                <div class="approval-box">
                  <div class="approve-icon">
                    <i class="fa fa-check-square-o"></i>
                  </div>
                  <div class="approve-content">
                    <h2>Approve this Salesman</h2>
                    <p>This salesman has been submitted for approval. Verify and approve the salesman.</p>
                  </div>
                  <div class="approve-actions">
                    <button mat-button class="approve" (click)="approve()">Approve</button>
                    <button mat-button class="reject" (click)="reject()">Reject</button>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="row">
              <div class="col-xl-5 col-lg-5 col-md-8">
                  <ul class="smhlist mt-2" >
                      <li>
                        <span>{{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Code:</span>
                        <strong>{{ salesMan?.salesman_code }}</strong>
                      </li>
                      <li>
                        <span>Profile Image:</span>
                        <strong><img class="cp-pic mr-2" src="{{ salesMan?.profile_image || 'https://secure.gravatar.com/avatar/1aedb8d9dc4751e229a335e371db8058?&amp;d=mm' }}" alt=""></strong>
                      </li>
                      <li>
                        <span>Name:</span>
                        <strong>{{ salesMan?.user?.firstname }} {{ salesMan?.user?.lastname }}</strong>
                      </li>
                      <li>
                        <span> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Mobile: </span>
                        <strong>{{ salesMan?.user?.mobile }}</strong>
                      </li>
                      <li>
                        <span> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Type:</span>
                        <strong>{{ salesMan?.salesman_type?.name }}</strong>
                      </li>
                      <li> <span>{{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Role: </span><strong>{{ salesMan?.salesman_role?.name }} </strong></li>
                      <li> <span> {{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Route: </span><strong>{{ salesMan?.route_id }} </strong></li>
                        <li> <span>{{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Email: </span><strong>{{ salesMan?.user?.email }} </strong></li>
                          <li> <span>Date Of Joining:</span><strong> {{ salesMan?.created_at }} </strong></li>
                            <li> <span>{{ domain == "merchandising" || domain == 'nfpc' ? 'Merchandiser' : 'Salesman' }} Supervisor: </span><strong>{{ salesMan?.salesman_supervisor }} </strong></li>
                              <li> <span>Status: </span><strong>{{ salesMan?.status === 0 ? 'Inactive' : 'Active' }}</strong></li>
                  </ul>
                </div>
              </div>
          </mat-tab>
              <mat-tab label="Sales">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-8">
                <ul class="smhlist mt-2" >
                  <li>
                    <strong>Sales 1</strong>
                  </li>
                  <li>
                    <strong>Sales 2</strong>
                  </li>
                  <li>
                    <strong>Sales 3</strong>
                  </li>
                  <li>
                    <strong>Sales 4</strong>
                  </li>
              </ul>
            </div>
          </div>
          </mat-tab>
          <mat-tab label="Custom Fields">
            <div class="row">
              <div class="col-xl-3 col-lg-5 col-md-8">
                <ng-container
                  *ngIf="
                    salesMan.custom_field_value_save &&
                    salesMan.custom_field_value_save.length > 0
                  "
                >
                  <ul class="smhlist mt-2">
                    <li *ngFor="let item of salesMan.custom_field_value_save">
                      <span
                        *ngIf="
                          item.custom_field &&
                            item.custom_field.field_type === 'check_box';
                          else others
                        "
                        >{{ item.custom_field.field_label }} :
                        {{
                          item.custom_field_value == "1" ? "Yes" : "No"
                        }}</span
                      >
                      <ng-template #others>
                        <span *ngIf="item.custom_field"
                          >{{ item.custom_field?.field_label }} :
                          {{ item.custom_field_value }}</span
                        >
                      </ng-template>
                    </li>
                  </ul>
                </ng-container>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>