<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> me </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.user?.firstname; else na">
                        {{ element.user?.firstname }}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser">
                <th mat-header-cell *matHeaderCellDef> Merchandiser</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.merchandiser?.firstname; else na">
                        {{ element.merchandiser?.firstname }}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="customer_state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.customer_state; else na">
                        {{ element.customer_state }}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="customer_city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.customer_city; else na">
                        {{ element.customer_city }}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="address1">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.customer_address_1; else na">
                        {{ element.customer_address_1 }}
                    </ng-container>
                </td>

            </ng-container>
            <ng-container matColumnDef="customer_address_1_lang">
                <th mat-header-cell *matHeaderCellDef> Latitude </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.customer_address_1_lat; else na">
                        {{ element.customer_address_1_lat }}
                    </ng-container>
                </td>

            </ng-container>
            <ng-container matColumnDef="customer_address_1_lng">
                <th mat-header-cell *matHeaderCellDef> Longitude </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.customer_address_1_lang; else na">
                        {{ element.customer_address_1_lang }}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="current_stage">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.current_stage; else na">
                        {{ element.current_stage }}
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="15" [pageSizeOptions]="[5,10,15]"></mat-paginator>
</div>

<ng-template #na>N/A</ng-template>