a{
    cursor: pointer;
}
.card-footer {
    position: fixed;
    width: 550px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    right: 0;
}
.mat-icon{
    position: absolute !important;
    right: 10px !important;
    top: 4px !important;
    cursor: pointer !important;
}
.settingIcon
{
  position: absolute;
  top: 4px;
  right: 0;
    i{
      font-size: 20px;
    }
}
.form-box {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .card{
      width: 300px !important;
  }
  .card-footer {
    width: 300px !important;
}
  .settingIcon{
    left: auto !important;
    right: 3px;
  }
  .col-4,.col-8{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-body {
      padding: 0.75rem;
  }
}