.form-box {
    text-align: left;
    padding:1.25rem;
}

.form-check-label {
    padding-left: 48px;
    position: relative;
    top: 4px;
    font-size: 16px;
}
.mat-form-field{
    width: 40%;
    margin: 0 20px 0 0;
}
