<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="merchandiser_name">
                <th mat-header-cell *matHeaderCellDef> merchandiser name </th>
                <td mat-cell *matCellDef="let element"> {{ element.salesmanName }} </td>
            </ng-container>
            <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef> customer name </th>
                <td mat-cell *matCellDef="let element"> {{ element.customerName }} </td>
            </ng-container>
            <ng-container matColumnDef="customer_code">
                <th mat-header-cell *matHeaderCellDef> customer code </th>
                <td mat-cell *matCellDef="let element"> {{ element.customerCode }} </td>
            </ng-container>
            <ng-container matColumnDef="order_code">
                <th mat-header-cell *matHeaderCellDef> order code </th>
                <td mat-cell *matCellDef="let element"> {{ element.orderCode }} </td>
            </ng-container>
            <ng-container matColumnDef="due_date">
                <th mat-header-cell *matHeaderCellDef> due date </th>
                <td mat-cell *matCellDef="let element"> {{ element.dueDate }} </td>
            </ng-container>
            <ng-container matColumnDef="delivery_date">
                <th mat-header-cell *matHeaderCellDef> delivery date </th>
                <td mat-cell *matCellDef="let element"> {{ element.deliveryDate }} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> type </th>
                <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
            </ng-container>
            <ng-container matColumnDef="gross_total">
                <th mat-header-cell *matHeaderCellDef> gross total </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalGross }} </td>
            </ng-container>
            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef> discount </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalDiscountAmount }} </td>
            </ng-container>
            <ng-container matColumnDef="net_total">
                <th mat-header-cell *matHeaderCellDef> net total </th>
                <td mat-cell *matCellDef="let element"> {{ element.netTotal }} </td>
            </ng-container>
            <ng-container matColumnDef="excise">
                <th mat-header-cell *matHeaderCellDef> excise </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalExcise }} </td>
            </ng-container>
            <ng-container matColumnDef="vat">
                <th mat-header-cell *matHeaderCellDef> vat </th>
                <td mat-cell *matCellDef="let element"> {{ element.vat }} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> total </th>
                <td mat-cell *matCellDef="let element"> {{ element.grandTotal }} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> status </th>
                <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="element-detail w-100"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div *ngIf='element' class="w-100">
                      <app-itemtable [data]="element.order_details"></app-itemtable>
                    </div>
                    <br />
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="expandList(row)" class="element-row"
                [class.expanded-row]="row === expandedElement"></tr>
              <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>