<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="product_code">
                <th mat-header-cell *matHeaderCellDef> Product Code </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_code }} </td>
            </ng-container>
            <ng-container matColumnDef="product_desc">
                <th mat-header-cell *matHeaderCellDef> Product Desc </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_desc }} </td>
            </ng-container>
            <ng-container matColumnDef="product_price">
                <th mat-header-cell *matHeaderCellDef> Product Price </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_price }} </td>
            </ng-container>
            <ng-container matColumnDef="product_qty">
                <th mat-header-cell *matHeaderCellDef> product Qty </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_qty }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>