<section>
    <div class="table-responsive">
        <table class="table table-hover" mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <tr mat-header-row class="table-header" *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
                [class.expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    
                        <div class="element-description p-4 d-flex justify-content-around w-100">
                            <div class=" " *ngFor="let uom of element.uoms">
                                {{uom.name}} : {{uom.price}}                         
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
        </table>
    </div>
    <!-- <pre>{{output | json}}</pre> -->

</section>