<section>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 text-left">
      <form class="form-box">
        <div class="form-group">
          <label for="jname">Journey Name</label>
          <input type="text" class="form-control" [formControl]="nameFormControl" id="jname">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea class="form-control" [formControl]="descFormControl" id="desc"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-5">
              <label for="sdate">Start Date</label>
              <input type="date" class="form-control" [formControl]="sdateFormControl" id="sdate">
            </div>
            <div class="col-sm-2 check-box-div">
              <div class="form-check-label" for="hasEnd">No End</div>
              <app-checkbox [config]="{ control: checkFormControl, id: 'hasEnd' }"></app-checkbox>
            </div>
            <div class="col-sm-5">
              <label for="edate">End Date</label>
              <input type="date" class="form-control" [formControl]="edateFormControl" id="edate">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-5 mb-md-0 mb-2">
              <label for="stime">Start Time</label>
              <input type="time" class="form-control" [formControl]="stimeFormControl" id="stime">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
              <label for="etime">End Time</label>
              <input type="time" class="form-control" [formControl]="etimeFormControl" id="etime">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
