<section *ngIf="customer" class="">
  <div class="pl-3">
    <div class="row">
      <h2 class="page-title col-sm-6 font-weight-light">
        {{ customer?.user?.firstname }} {{ customer?.user?.lastname }}
      </h2>
      <div class="actions col-sm-6">
        <button (click)="openEditCustomer()" appPermission [permissions]="userPermissions" [type]="'edit'"
          class="iconbtn">
          <i class="os-icon os-icon-edit" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-white" mat-button [matMenuTriggerFor]="menu2">
          More
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="toggleStatus()">
            Mark as {{ customer?.status === 0 ? "Active" : "Inactive" }}
          </button>
          <button mat-menu-item appPermission [permissions]="userPermissions" [type]="'delete'"
            (click)="openDeleteBox()">
            Delete
          </button>
        </mat-menu>

        <button class="btn" (click)="closeDetailView()">
          <i class="os-icon os-icon-close"></i>
        </button>
      </div>
    </div>
  </div>

  <mat-tab-group class="customertab" mat-align-tabs="start">
    <mat-tab label="Overview">
      <app-customer-detail-overview [customer]="customer"></app-customer-detail-overview>
    </mat-tab>
    <mat-tab label="Comments">
      <app-customer-detail-comment [customer]="customer" [notOpenedFromOverViewRightPanel]="true">
      </app-customer-detail-comment>
    </mat-tab>
    <mat-tab label="Sales">
      <app-customer-detail-sales [customer]="customer"></app-customer-detail-sales>
    </mat-tab>
    <mat-tab label="Statement">
      <app-customer-detail-statement [customer]="customer"></app-customer-detail-statement>
    </mat-tab>
    <mat-tab label="Custom Fields">
      <div class="row">
        <div class="col-xl-3 col-lg-5 col-md-8">
          <ng-container *ngIf="
              customer.custom_field_value_save &&
              customer.custom_field_value_save.length > 0
            ">
            <ul class="smhlist mt-2">
              <li *ngFor="let item of customer.custom_field_value_save">
                <span *ngIf="
                    item.custom_field &&
                      item.custom_field.field_type === 'check_box';
                    else others
                  ">{{ item.custom_field.field_label }} :
                  {{ item.custom_field_value == "1" ? "Yes" : "No" }}</span>
                <ng-template #others>
                  <span *ngIf="item.custom_field">{{ item.custom_field?.field_label }} :
                    {{ item.custom_field_value }}</span>
                </ng-template>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>