<section>
  <div class="header">
    <h2>{{ pageTitle }}</h2>
  </div>
  <div class="separator"></div>
  <form [formGroup]="parentFormGroup" class="scrolly">
    <div class=" p-md-5 p-0 row align-items-center justify-content-center">
      <div class="col-xl-9 col-lg-10 col-md-11 ">
        <mat-tab-group class="bg-light mb-3 border custom1 cs2a" [(selectedIndex)]="selectedIndex" mat-stretch-tabs>
          <mat-tab label="Select Key Combination">
            <div class="form-holder">
              <app-discount-form-key-combination [overviewFormGroup]="parentFormGroup" [editData]="editData">
              </app-discount-form-key-combination>
            </div>
          </mat-tab>
          <mat-tab label="Key Value" [disabled]="!isKeyValueTab">
            <div class="form-holder">
              <app-discount-form-key-value [overviewFormGroup]="parentFormGroup" [showFormError]="showFormError"
                [editData]="editData"></app-discount-form-key-value>
            </div>
          </mat-tab>
          <mat-tab label="Discount" [disabled]="!(selectedIndex > 0)">
            <div class="form-holder">
              <!-- <app-pricing-form-promotion [overviewFormGroup]="parentFormGroup"></app-pricing-form-promotion> -->
              <app-discount-form-discount [overviewFormGroup]="parentFormGroup" [editData]="editData">
              </app-discount-form-discount>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="w-100 text-center">
          <small class="text-danger" *ngIf="showError">
            * Item must be selected.</small>
        </div>
        <div class="text-right">
          <button [disabled]="selectedIndex === 0" (click)="previous()" class="btn btn-secondary mr-2">Back</button>
          <button *ngIf="selectedIndex !== 2" (click)="next()" class="btn btn-primary">Next</button>
          <button *ngIf="selectedIndex === 2" (click)="saveDiscount()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <pre>{{editData | json}}</pre>
    </div>
    <div class="col">
      <pre>{{parentFormGroup.value | json}}</pre>
    </div>
  </div>
</div> -->