<div class="items-table-box">
    <div class="table-responsive">
      <table mat-table [dataSource]="itemSource" *ngIf="itemSource.data.length" class="mat-elevation-z8 table table-hover">
        <ng-container matColumnDef="item_code">
            <th mat-header-cell *matHeaderCellDef> Item Code </th>
            <td mat-cell *matCellDef="let element"> {{ element.item?.item_code }} </td>
          </ng-container>
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef> Item Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.item?.item_name }} </td>
        </ng-container>
        <ng-container matColumnDef="item_uom">
          <th mat-header-cell *matHeaderCellDef> UOM </th>
          <td mat-cell *matCellDef="let element"> {{ element.item_uom?.name }} </td>
        </ng-container>
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef> capacity </th>
            <td mat-cell *matCellDef="let element"> {{ element.capacity }} </td>
          </ng-container>
          <ng-container matColumnDef="total_number_of_facing">
            <th mat-header-cell *matHeaderCellDef> Total No Of Facing </th>
            <td mat-cell *matCellDef="let element"> {{ element.total_number_of_facing }} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]"></mat-paginator>
  </div>