<section>
  <div class="heading-row clearfix">
    <h2 class="d-md-inline "><i class="fa fa-sticky-note-o mr-2"></i>{{ pageTitle }}</h2>
    <div class="d-md-inline float-right text-right">
      <button mat-button class="btn btn-sm btn-white dropdown-toggle " [matMenuTriggerFor]="menu2">More</button>
      <mat-menu #menu2="matMenu" xPosition="before">
        <button mat-menu-item class="height-40" (click)="postFinalOrder('delivery')">Convert to Delivery</button>
        <button mat-menu-item class="height-40" (click)="goToGRNS()">Go to Orders</button>
      </mat-menu>
    </div>
  </div>
  <div class="separator"></div>
  <form [formGroup]="grnFormGroup" class="order-form custom-mat square scrolly">


    <div>
      <div class="card-body overview">
        <div class="row justify-content-between">
          <div class="col-md-4">
            <div class="form-group smmatinput">
              <label for="">Source Warehouse </label>
              <mat-form-field id="sourceFormField">
                <mat-label>Select source warehouse</mat-label>
                <mat-select class="no-disabled-text" (blur)="checkFormValidation()" required
                  [formControl]="sourceFormControl">
                  <mat-option *ngFor="let warehouse of selectedSourceWarehouseId" [value]="warehouse.id">
                    {{ warehouse.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="sourceFormControl.hasError('required')">Please select a warehouse</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group smmatinput">
              <label for="">Destination Warehouse </label>
              <mat-form-field id="destFormField">
                <mat-label>Select destination warehouse</mat-label>
                <mat-select class="no-disabled-text" (blur)="checkFormValidation()" required
                  [formControl]="destinationFormControl">
                  <mat-option *ngFor="let warehouse of selectedDestWarehouseId" [value]="warehouse.id">
                    {{ warehouse.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="sourceFormControl.hasError('required')">Please select a warehouse</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">GRN Number </label>
              <div class="position-relative">
                <input type="text" class="form-control form-control-sm" (keypress)="restrictLength($event)"
                  [formControl]="numberFormControl" id="grnNumber">
                <span class="setting-btn" [hidden]="isEditForm"><button (click)="openNumberSettings()"><i
                      class="os-icon os-icon-ui-46"></i></button></span>
              </div>

            </div>
            <div class="form-group">
              <label for="">GRN Date </label>
              <input type="text" class="form-control form-control-sm" [formControl]="numberFormControl" id="grnNumber">

            </div>

          </div>

        </div>

      </div>

      <div class="bottom-form">
        <div class="item-container custom-mat custom-mat-no-border">
          <!--          <table class="table-check">-->
          <!--            <thead>-->
          <!--            <tr><th class="head"></th></tr>-->
          <!--            </thead>-->
          <!--            <tbody>-->
          <!--            <tr class="item-row" *ngFor="let item of payloadItems; let i = index;">-->
          <!--              <input class="item-checkbox" (change)="itemDidSelected($event, item)" type="checkbox" name="item">-->
          <!--            </tr>-->
          <!--            </tbody>-->
          <!--          </table>-->

          <div class="item-table-div">
            <table class="item-table">
              <thead>
                <tr>
                  <th class="head" *ngFor="let head of itemTableHeaders">{{ head.label }}</th>
                  <th>Action</th>
                </tr>

              </thead>
              <tbody class="form-body">
                <tr formArrayName="items" class="item-row" *ngFor="let item of itemFormControls; let i = index;">
                  <ng-container [formGroupName]="i">
                    <td>{{ i + 1 }}</td>
                    <td class="item-name">
                      <mat-form-field class="item-name-field">
                        <input type="text" required placeholder="Search an item" matInput formControlName="item"
                          [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (opened)="checkFormValidation()"
                          (optionSelected)="itemDidSearched($event.option.value, i)"
                          [displayWith]="itemsControlDisplayValue">
                          <mat-option *ngFor="let item of filteredItems" [value]="itemControlValue(item)">
                            {{ item.item_name }} - {{item.item_code}} </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </td>
                    <td class="uom-td">
                      <select class="custom-select" required formControlName="item_uom_id">
                        <option [value]="uom.id" *ngFor="let uom of uoms">{{ uom.name }}</option>
                      </select>
                    </td>
                    <td class="stats-cell"><input type="number" min="0" class="form-control form-control-sm"
                        placeholder="Quantity" formControlName="qty"></td>
                    <td> <button [disabled]="itemFormControls.length <= 1" class="trash-btn"
                        (click)="deleteItemRow(i)"><i class="fa fa-close"></i></button></td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <button class="add-item-btn" mat-button (click)="addItem()">Add Item</button>
          </div>

          <!-- <table class="table-check">
            <thead>
            <tr><th class="head"></th></tr>
            </thead>
            <tbody>
            <tr class="item-row" *ngFor="let item of itemFormControls; let i = index;">
             
            </tr>
            </tbody>
          </table> -->
        </div>
        <div class=" footer-overview-container">
          <div class="row">
            <div class="form-group col-sm-5">
              <label for="note">GRN Remark</label>
              <textarea class="form-control form-control-sm" [formControl]="remarkFormControl" id="note"></textarea>
            </div>
            <!--            <div class="offset-2 col-sm-5">-->
            <!--              <div class="overall-stats-table">-->
            <!--                <div *ngFor="let stat of objectValues(orderFinalStats)">-->
            <!--                  <span class="stat-label">{{ stat.label }}</span>-->
            <!--                  <span class="stat-value">{{ stat.value | currency: currencyCode:"symbol": currencyDecimalFormat }}</span>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <span class="stat-label final-total">{{ orderFinalStats.grand_total.label }}</span>-->
            <!--                  <span class="stat-value final-total">{{ orderFinalStats.grand_total.value | currency: currencyCode:"symbol": currencyDecimalFormat }}</span>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="actions">
    <button class="btn btn-primary" mat-button (click)="postFinalOrder('order')">Save & Submit</button>
  </div>
</section>