<section class="scrolly">
    <div class="table-responsive">
        <table class="table table-hover" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox class="head-checkbox" (change)="$event ? toggleSelection() : null" (change)="getSelectedRows()"
                        [checked]="selections.hasValue() && isAllSelected()"
                        [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    <a class="filter-btn" *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </a>
                    <mat-menu #menu="matMenu">
                        <div class="card-body p-2" style="min-width: 200px;">
                            <ul style="list-style:none; padding-left: 7px;">
                                <li *ngFor="let column of filterColumns">
                                    <input type="checkbox" [(ngModel)]="column.show" class="m-2"
                                        (click)="$event.stopPropagation()">
                                    {{column.title}}
                                </li>
                            </ul>
                            <div class="float-right mb-2">
                                <button class="btn btn-p bg-secondary">Cancel</button>
                            </div>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox class="row-checkbox" (click)="$event.stopPropagation()"
                        (change)="$event ? selections.toggle(row) : null" (change)="getSelectedRows()" [checked]="selections.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="salesman">
                <th mat-header-cell *matHeaderCellDef> Merchandiser Name </th>
                <td mat-cell *matCellDef="let element"> {{element.salesman?.firstname}} {{element.salesman?.lastname}}
                </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.customer?.firstname || 'N/A'}} {{element.customer?.lastname}}
                </td>
            </ng-container>
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element"> {{element.item?.item_name}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}}</td>
            </ng-container>
            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef> Qty </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}}</td>
            </ng-container>
            <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef> Valid From </th>
                <td mat-cell *matCellDef="let element"> {{element.start_date}}</td>
            </ng-container>
            <ng-container matColumnDef="end_date">
                <th mat-header-cell *matHeaderCellDef> Valid To </th>
                <td mat-cell *matCellDef="let element"> {{element.end_date}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> description </th>
                <td mat-cell *matCellDef="let element"> {{element.desctription}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </table>
    </div>

    <div>
        <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)" [length]="apiResponse.pagination?.total_records"
            [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>
    </div>
</section>