:host {
  float: left;
  width: 100%;
}

table {
  margin-top: 0;
}

.mat-column-select,
.mat-column-code,
.mat-column-areaName,
.mat-column-depot,
.mat-column-areaManager {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 20%;
  width: 20%;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.cdk-column-select {
  position: relative;

  .filter-btn {
    position: absolute;
    left: 0px;
    top: 9px;
    height: 35px;
    line-height: 35px;
    width: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
  }
}

button {
  background-color: transparent;
  border: none;

  i {
    font-size: 16px;
  }
}

.trash-btn {
  margin-left: 8px;
}

.cdk-column-select {
  width: 8%;
}

.filter-btn {
  cursor: pointer;
}

.filter-btn:focus {
  outline: none;
}

.head-checkbox {
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 0;
  margin-right: 20px;
}

.row-checkbox {
  margin-left: 4px;
  position: relative;
  top: -2px;
  margin-right: 20px;
}

.hidden {
  visibility: hidden;
}

::ng-deep .mat-paginator {

  // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
  }

  .mat-paginator-navigation-previous {
    order: 1;
  }

  .mat-paginator-navigation-next {
    order: 3;
  }
}

@media (max-width: 575px) {
  .table {
    min-width: 800px;
  }
}
