<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a" }} </td>
            </ng-container>
            <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.customer?.firstname +' '+element.customer?.firstname }} </td>
            </ng-container>
            <ng-container matColumnDef="is_return">
                <th mat-header-cell *matHeaderCellDef> Is Return </th>
                <td mat-cell *matCellDef="let element"> {{ element.is_return }} </td>
            </ng-container>
            <ng-container matColumnDef="order_number">
                <th mat-header-cell *matHeaderCellDef> Order# </th>
                <td mat-cell *matCellDef="let element"> {{ element.order_number }} </td>
            </ng-container>
            <ng-container matColumnDef="order_date">
                <th mat-header-cell *matHeaderCellDef> Order Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.order_date | date :"d MMM y h:mm a" }} </td>
            </ng-container>
            <ng-container matColumnDef="due_date">
                <th mat-header-cell *matHeaderCellDef> Due Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.due_date | date :"d MMM y h:mm a" }} </td>
            </ng-container>
            <ng-container matColumnDef="total_discount_amount">
                <th mat-header-cell *matHeaderCellDef> Discount </th>
                <td mat-cell *matCellDef="let element"> {{ numberFormatWithSymbol(element.total_discount_amount)  }}
                </td>
            </ng-container>
            <ng-container matColumnDef="total_excise">
                <th mat-header-cell *matHeaderCellDef> Excise </th>
                <td mat-cell *matCellDef="let element"> {{   numberFormatWithSymbol(element.total_excise)}} </td>
            </ng-container>
            <ng-container matColumnDef="total_gross">
                <th mat-header-cell *matHeaderCellDef> Discount </th>
                <td mat-cell *matCellDef="let element"> {{   numberFormatWithSymbol(element.total_gross)}} </td>
            </ng-container>
            <ng-container matColumnDef="total_net">
                <th mat-header-cell *matHeaderCellDef> Total Net </th>
                <td mat-cell *matCellDef="let element"> {{   numberFormatWithSymbol(element.total_net)}} </td>
            </ng-container>
            <ng-container matColumnDef="total_vat">
                <th mat-header-cell *matHeaderCellDef> Total Vat </th>
                <td mat-cell *matCellDef="let element">{{   numberFormatWithSymbol(element.total_vat)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="grand_total">
                <th mat-header-cell *matHeaderCellDef> Grand Total </th>
                <td mat-cell *matCellDef="let element">
                    {{   numberFormatWithSymbol(element.grand_total)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>