:host {
  float: left;
  width: 100%;
}
table {
  margin-top: 0;
}
.mat-column-select,
.mat-column-code,
.mat-column-areaName,
.mat-column-depot,
.mat-column-areaManager {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 20%;
  width: 20%;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.cdk-column-select {
  position: relative;
  .filter-btn {
    position: absolute;
    left: 0px;
    top: 0;
    height: 35px;
    line-height: 35px;
    width: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
  }
}
mat-row, mat-header-row, mat-footer-row {

  justify-content: space-between;
}
.table thead, .table thead tr, .mat-header-row{
  justify-content: space-between;
  background-color: black !important;
  th{
    border:0 !important;
    background: black;
    color: #fff;
    min-width: 160px;
  }
}
td.mat-cell {
  border: 0 !important;
  min-width: 160px;
}
button {
  background-color: transparent;
  border: none;

  i {
    font-size: 16px;
  }
}
.trash-btn {
  margin-left: 8px;
}
.cdk-column-select {
  width: 8%;
}
.filter-btn {

  cursor: pointer;
}
.filter-btn:focus {
  outline: none;
}
.head-checkbox {
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 2px;
  margin-right: 20px;
}
.row-checkbox {
  margin-left: 4px;
  position: relative;
  top: 4px;
  margin-right: 20px;
}
.hidden {
  visibility: hidden;
}
::ng-deep .mat-paginator {
  // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
  }
  .mat-paginator-navigation-previous {
    order: 1;
  }
  .mat-paginator-navigation-next {
    order: 3;
  }
}
.btns {
  background-color: #007bff !important;
  font-size: 12px;
}
.form-container {
  // margin: 20px 0;
  padding: 12px 12px 0;
}
button {
  &:focus {
    outline: 0;
  }
}
.example-full-width {
  width: 100%;
}
.dialog-close-btn {
  float: right;
  border: 0;
  position: relative;
  top: -5px;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
}
.channel-dropdown {
  height: 31px;
}
.save-btn {
  display: flex;
  flex-direction: row-reverse;
  padding: 14px;
  button {
    height: 36px;
    border: 1px solid #cccccc;
  }
  .btn-green {
    background-color: #1abc9c;
    color: white;
    margin-left: 12px;
    border: 0;
  }
}
.addMarginBottom {
  margin-bottom: -20px !important;
}
.labelFix {
  padding-top: 5px;
}
.labelFixItem {
  padding-top: 23px;
}
.categories-title {
  padding: 0 20px;
  margin-top: 10px;

  h4 {
    margin: 0;
  }

  .add-new-label {
    float: right;

    button {
      background-color: transparent;
      border: 0;
      font-size: 12px;
      color: #1abc9c;
    }

    i {
      margin-right: 4px;
    }
  }
}
.channel-holder {
  padding: 12px;
}
.cancel-btn {
  padding: 0 20px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row-reverse;

  button {
    height: 36px;
    border: 1px solid #cccccc;
  }
}
.empty-list {
  p {
    font-size: small;
  }
}
.add-new-btn {
  height: 36px;
  border: 1px solid #cccccc;
  background-color: #1abc9c;
  color: white;
  border: 0;
}
.example-full-width {
  width: 100%;
}
.form-controls {
  display: block !important;
  width: 100% !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
.form-control-sms {
  height: calc(1.5em + .5rem + 2px) !important;
  padding: .25rem .5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
.mat-form-field-infix {
  border-top: 0px !important;
}

::ng-deep mat-form-field {
  .mat-form-field-underline {
    height: 0px !important;
    display: none !important;
  }
}

.makeScrollable {
  overflow-y: scroll !important;
}
.font-fix {
  font-size: 11px !important;
}
.head-container {
  background-color: #181824;
  color: white;
  margin-top: 8px;
}
.head-row {
  padding: 8px 15px;
}
.data-body {
  height: auto;
  overflow: scroll;
}
.data-row {
  padding: 4px 0 4px 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  &:hover {
    background-color: #f0f0f0;
  }
}
@media (max-width: 575px) {
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 8px !important;
}
  .table thead, .table thead tr, .mat-header-row{
   
    th{
    
      min-width: 100px;
    }
  }
  td.mat-cell {
    
    min-width: 100px;
  }
}