<div class="pl-3 row mb-4 mt-4" *ngIf="damageData">
  <div class="col-md-1 col-form-label">Date</div>
  <div class="col-md-3 mb-md-0 mb-2">
    <input class="form-control form-control-sm" type="date" [formControl]="dateFilterControl">
  </div>
  <div class="col-md-3 item-add-btn">
    <button type="button" (click)="getDamageItemList('date', true)" class="mr-2 btn btn-sm btn-primary">Filter</button>
    <button type="button" (click)="getDamageItemList('all', true)" class="btn btn-sm btn-danger">All</button>
  </div>
</div>
<div class="pl-3 items-table-box">
  <div class="table-responsive">
    <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
      </ng-container>
      <ng-container matColumnDef="salesman">
        <th mat-header-cell *matHeaderCellDef> Salesman </th>
        <td mat-cell *matCellDef="let element"> {{ element.salesman?.firstname }} {{ element.salesman?.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Customer </th>
        <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }} {{ element.customer?.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="distribution_name">
        <th mat-header-cell *matHeaderCellDef> Distribution Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.distribution?.name }} </td>
      </ng-container>
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{ element.item?.item_name }} </td>
      </ng-container>
      <ng-container matColumnDef="damage_item_qty">
        <th mat-header-cell *matHeaderCellDef> Damage Item </th>
        <td mat-cell *matCellDef="let element"> {{ element.damage_item_qty }} </td>
      </ng-container>
      <ng-container matColumnDef="expire_item_qty">
        <th mat-header-cell *matHeaderCellDef> Expired Item </th>
        <td mat-cell *matCellDef="let element"> {{ element.expire_item_qty }} </td>
      </ng-container>
      <ng-container matColumnDef="saleable_item_qty">
        <th mat-header-cell *matHeaderCellDef> Saleable Item </th>
        <td mat-cell *matCellDef="let element"> {{ element.damage_item_qty }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]">
  </mat-paginator>
</div>