<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <mat-drawer id="formDrawer" mode="over" position="end" #formDrawer class="border">
    <div style="min-width: 320px;">
      <app-add-customer-form (updateTableData)="updateTableData($event)"></app-add-customer-form>
    </div>
  </mat-drawer>

  <section class="">
    <div class="table-box customerbox" [ngClass]="{ collapsed: isDetailVisible }">
      <div class="heading-row clearfix">
        <p class="d-inline" *ngIf="!isDetailVisible">
          <i class="os-icon os-icon-user mr-2" aria-hidden="true"></i> Customer
        </p>
        <div class="d-inline float-right">
          <button type="button" class="btn btn-sm btn-p" appPermission [permissions]="userPermissions" [type]="'create'"
            (click)="openAddCustomer()">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
          <!-- impot /Export  -->
          <button class="btn btn-sm btn-white ml-2 dropdown-toggle" [matMenuTriggerFor]="menu3">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openImpotComp()">Import Customer</button>
            <button mat-menu-item type="button" (click)="openExportDialog()">Export Customer</button>
          </mat-menu>
        </div>
      </div>
      <app-customer-dt (itemClicked)="itemClicked($event)" (selectedRows)="selectedRows($event)"
        [newCustomerData]="newCustomerData"></app-customer-dt>
    </div>
    <div class="details-box" [ngClass]="{ expanded: isDetailVisible }">
      <app-customer-detail (detailsClosed)="closeClicked()" [isDetailVisible]="isDetailVisible" [customer]="customer"
        (updateTableData)="updateTableData($event)">
      </app-customer-detail>
    </div>
  </section>
</mat-drawer-container>