section {
  display: block;
}

.separator {
  height: 2px;
  background-color: lightgrey;
}


.notAvaliable {
  cursor: not-allowed !important;
}


button:focus {
  outline: none;
}

.order-form {
  //height: calc(100vh - 124px);
  overflow: scroll;
  overflow-y: scroll;
  padding-bottom: 20px;
  height: calc(100vh - 70px);
}

input {
  &:disabled {
    background-color: transparent;
  }
}


.in-opt-btn {
  button {
    width: 100%;
    background-color: #181925;
    color: white;
    border-radius: 4px;
    height: 34px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      margin-right: 8px;
    }
  }
}

.add-btn {
  padding-left: 0;
  position: relative;

  button {
    cursor: pointer;
    background-color: #181925;
    color: white;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    top: 40px;

    &:focus {
      outline: none;
    }
  }
}

mat-form-field {
  display: block;
}


.overview-container {
  padding: 0 40px;
}

.form-col {
  width: 440px;

  tr {
    td {
      &:first-of-type {
        min-width: 120px;
      }

      &:last-of-type {
        min-width: 320px;
      }
    }
  }
}

.spacer {
  height: 12px;
}


.loader-holder {
  max-width: 60px;
  height: 60px;
  background-color: #0db6a0;
  position: relative;
  margin: 15% auto 0;
  border-radius: 30px;
  border: 12px solid #0db6a0;
  border-right-color: #fafafa;
  animation: rotation 1s infinite ease-out;
}

.loader-content {
  width: 50px;
  height: 50px;
  background-color: #fafafa;
  position: absolute;
  top: -7px;
  left: -7px;
  border-radius: 25px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.item-container {
  padding: 0 40px 0 10px;
  overflow: auto;
  position: relative;
  justify-content: flex-start;
  display: flex;
  margin: 20px auto 0;

  .item-table-div {
    width: 100%;
  }

  .table-check {
    width: 20px;
    margin: 0;

    tr {
      height: 50px;
      line-height: 70px;
    }

    .item-row {
      height: 36px;

      input {
        position: relative;
        top: 8px;
      }
    }
  }

  table.item-table {
  
    .form-body {
      .non-editable {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}
.item-table{
  margin: 0;
    border: 1px solid #ced4da;
    border-collapse: separate;
    border-spacing: 0;
  thead{
    tr{
      th{
        border-left: 1px solid #ced4da;
        padding: 2px !important;
        border-top: none;
        text-align: left;
        min-width: 83px;
        color: #263035;
        background-color: #f3f3f3;
        &:first-child {
          min-width: 32px;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
      padding:0;
      vertical-align: middle;
      &:first-child {
        border-left: none;
        text-align: left;
        min-width: 32px;
        width: 32px;
      }
    .form-control,.item-name-field,select{
      font-size: 12px;
      border: 0;
      padding: 0 4px;
      background-color: inherit;
    }
      }
    }
  }
}
.item-container  table tr th{
  padding-left: 4px;
}
.item-container table tr td:first-child,.item-container table tr td:last-child{
  padding-left: 4px !important;
}
.item-container  table tr th:first-child,
.item-container table tr td:first-child {
  border-left: none !important;
}
.item-sequence {
  position: relative;

  input {
    position: absolute;
    top: 11px;
    left: 10px;
    visibility: hidden;

    &:checked {
      visibility: visible;
    }
  }

  &:hover {
    input {
      visibility: visible;
    }
  }
}

.item-name {
  min-width: 120px;
}

.uom-td {
  min-width: 120px;
}

.item-row {
  position: relative;
}

.trash-btn-div {
  box-sizing: content-box;
  position: absolute;
  height: 24px;
  width: 24px;
  padding: 8px 12px;
}

.trash-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  margin-top: 6px;
  color: #ff5656;
  border: 1px solid #ff5656;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    margin-top: 0px !important;
  }

  i {
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    top: 5px;
    left: 6.5px;
  }
}

.overall-stats-table {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;

  .stat-label {
    padding: 0 12px;
    width: 45%;
    display: inline-block;
    text-align: right;
    color: #495057;
    margin-right: 8px;
  }

  .stat-value {
    font-weight: bolder;
    color: black;
  }
}

textarea {
  min-height: 100px;
  max-height: 150px;
}

.footer-overview-container {
  max-width: 100%;
  padding: 0 40px;
  margin: 32px 0 80px;
}

//input[type=date].ng-invalid,
//[formControlName].ng-invalid {
//  &:focus {
//    outline: 1px auto red;
//  }
//}


//New styles
section {
  display: block;
  background-color: white;
  height: 100%;
}



.active-form {
  background-color: #f3f3f3;
}

.inactive-form {
  pointer-events: none;
  opacity: 0.35;
  cursor: not-allowed;
}

.item-container {
  &.inactive-form {
    opacity: 1;
  }
}

.square {
  .form-control.form-control-sm {
    border-radius: 0;
  }
}

.bottom-form {
  margin-bottom: 62px;
}

.overall-stats-table {

  border-radius: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);

  div {
    padding: 4px 0;
  }

  .stat-label {
    width: 120px;
  }

  .stat-value {
    width: calc(100% - 128px);
    display: inline-block;
    text-align: right;

    &.final-total {
      padding: 12px 0;
    }
  }
}

.final-total {
  padding: 12px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
}

.actions {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 14px 20px;
  background-color: #f3f3f3;
  border-top: 1px solid #ced4da;
  left: 0;
  button {
    margin-right: 15px;
  }
}
.actions {
  button {
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: #e9ecef;
      color: #fff;
      cursor: not-allowed;
    }
  }
}

.spacer {
  height: 16px;
}

#custBtn.in-opt-btn{
  margin-top: -15px !important;
  background-color: #58a1e08a !important;
}

#typeBtn.in-opt-btn,
#custBtn.in-opt-btn {
  height: 34px;
  button {
    width: 100%;
    background-color: transparent;
    color: #181824;
    height: 34px;
    margin: auto;
    display: flex;
    border: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
.customerHr {
  margin-top: -2px !important;
}
.orderHr {
  margin-top: -2px !important;
}
#typeBtn.in-opt-btn{
  margin-top: -15px !important;
  background-color: #58a1e08a !important;
}
.form-col {
  margin-top: 0;
}
.filter-cancel-btn {
  font-size: 12px;
  background-color: #f3f3f3 !important;
  border: 1px solid #ced4da;
  color: #4b5459;
  height: 28px;
}
.example-margin {
  position: absolute !important;
  top: 40% !important;
  left: 40% !important;
}
.backOrder-btn{
  height: 28px !important;
  font-size: 14px !important;
}
.more-btn{
  height: 28px;
  position: relative;
  top: 2px;
  line-height: 28px;
}
.card-body.overview{
  padding: 10px 40px 5px;
}
.card-header.overview{
  padding: 10px 40px 5px;
}

.setting-btn{
  position: absolute;
  right: -31px;
  top: 0;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  button{
    background:none;
    border:0;
    i{
      font-size:20px;
      color: #181824;
    }
    &:hover,&:focus{
      outline:none;
    }
  }
}
@media (max-width: 575px) {
  .item-container  table tr th{
    padding-left: 0;
  }
  .item-container table tr td:first-child,.item-container table tr td:last-child{
    padding-left: 0 !important;
  }
    .cardtable{
      border-left: 0;
      .item-row {
        margin-bottom: 10px;
        display: block;
    }
    }
    .cardtable input.mat-input-element {
      margin-top: 0;
      height: 34px;
    }
      .card-body.overview {
        padding: 1.25rem 2.8rem;
    }
    .cdk-column-select .filter-btn {
      position: absolute;
      left: 0;
      top: 0;
      background: #6c757d;
      border: 0;
      border-radius: 0;
      color: #fff;
      width: 40px;
      height: 56px;
      margin: 0;
      line-height: 56px;
      text-align: center;
      padding: 0;
  }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left: 40px !important;
    }
    .table  tr td{
      border: none;
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      float: left\9;
      width: 100%\9;
      //vertical-align: top;
      font-size: .8125rem;
      padding: 0 !important;
      text-align: left;
    }
    .table  tr td.mat-column-select{
      padding:0 !important;
      &:before{
        width: 0;
        padding:0;
      }
    }
    .table  tr td span{
      vertical-align: top;
      display: inline-block;
      padding: 2px 5px;
      padding-top: 10px;
    }
  
    .table  tr td:before{
      content: attr(data-th);
      display: inline-block;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      font-weight: bold;
      width: 9.5em;
      background: #56a2cf;
      color: white;
      margin-right: 10px;
      padding: 2px 10px;
      padding-top: 10px;
      font-size: 12px;
    }

    .table th,.table thead, .table thead tr, .mat-header-row {
      display: none;
    }
    .cform1{
      display: block;
      padding: 4px 12px;
      margin: 0;
      overflow: visible;
    }
    .form-control {
      height: 30px;
      padding: 6px;
      border-radius: 0;
      margin: 2px 0;
  }
  .custom-select{
    height: 36px;
    padding: 6px;
    border-radius: 0;
    margin: 2px 0;
  }
  .item-sequence input {
    visibility: visible;
  }
  .item-row {
    position: relative;
    border-bottom: 4px solid #fff;
  }
  .footer-overview-container {
    padding: 0 20px;
  }
  .overall-stats-table {
    width: 100%;
  }
}