<div class="card">
    <div class="card-body">
      <app-import-form [title]="'Delivery'" (whenFileSelected)="selectedFile($event)" (returnToMain)="backToDelivery()"> 

      </app-import-form>
  
    </div>
  
  </div>