@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@include mat-core();

$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

//font-family: 'Muli', sans-serif;$font-family: 'Source Sans Pro, sans-serif',
$custom-typography: mat-typography-config(
  $font-family: 'Muli, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(12px, 24px, 500)
);

@include angular-material-theme($candy-app-theme);
@include angular-material-typography($custom-typography);