<!-- <section>
  <div class="container">
    <div class="form-box">
      <div class="">
        <h4 *ngIf="showLocations()">Location</h4>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.locations.country"
        >
          <mat-label>Country</mat-label>
          <mat-select
            [(ngModel)]="selectedCountries"
            (selectionChange)="onCountryChange($event)"
            multiple
          >
            <mat-option *ngFor="let country of countries" [value]="country.id"
              >{{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.locations.regions"
        >
          <mat-label>Region</mat-label>
          <mat-select
            [(ngModel)]="selectedRegions"
            (selectionChange)="onRegionChange($event)"
            multiple
          >
            <mat-option *ngFor="let region of regions" [value]="region.id"
              >{{ region.region_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.locations.area"
        >
          <mat-label>Area</mat-label>
          <mat-select
            [(ngModel)]="selectedAreas"
            (selectionChange)="onAreaChange($event)"
            multiple
          >
            <mat-option *ngFor="let area of flatAreaData" [value]="area.id">
              <span *ngFor="let i of counter(area.node_level)"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              • {{ area.area_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.locations.route"
        >
          <mat-label>Route</mat-label>
          <mat-select
            [(ngModel)]="selectedRoutes"
            (selectionChange)="onRouteChange($event)"
            multiple
          >
            <mat-option *ngFor="let route of routes" [value]="route.route_name"
              >{{ route.route_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="">
        <h4 *ngIf="showCustomers()">Customer</h4>
        <mat-form-field
          *ngIf="
            overviewFormGroup.value.keyCombination.customers.salesOrganisation
          "
        >
          <mat-label>Sales Organisation</mat-label>
          <mat-select
            [(ngModel)]="selectedSalesOrganisations"
            (selectionChange)="onSalesOrganisationChange()"
            multiple
          >
            <mat-option
              *ngFor="let salesOrganisation of flatSalesOrganisationData"
              [value]="salesOrganisation.id"
            >
              <span *ngFor="let i of counter(salesOrganisation.node_level)"
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              • {{ salesOrganisation.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.customers.channel"
        >
          <mat-label>Channel</mat-label>
          <mat-select
            [(ngModel)]="selectedChannels"
            (selectionChange)="onChannelChange()"
            multiple
          >
            <mat-option
              *ngFor="let channel of flatChannelData"
              [value]="channel.id"
            >
              <span *ngFor="let i of counter(channel.node_level)"
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              • {{ channel.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="
            overviewFormGroup.value.keyCombination.customers.customerCategory
          "
        >
          <mat-label>Customer Category</mat-label>
          <mat-select
            [(ngModel)]="selectedCustomerCategories"
            (selectionChange)="onCustomerCategoryChange()"
            multiple
          >
            <mat-option
              *ngFor="let customerCategory of customerCategories"
              [value]="customerCategory.id"
            >
              {{ customerCategory.customer_category_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.customers.customer"
        >
          <mat-label>Customer</mat-label>
          <mat-select
            [(ngModel)]="selectedCustomers"
            (selectionChange)="onCustomerChange()"
            multiple
          >
            <mat-option
              *ngFor="let customer of customers"
              [value]="customer.id"
            >
              {{ customer.user.firstname }} {{ customer.user.lastname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="">
        <h4 *ngIf="showItems()">Item</h4>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.items.majorCategory"
        >
          <mat-label>Category</mat-label>
          <mat-select
            [(ngModel)]="selectedCategories"
            (selectionChange)="onCategoryChange()"
            multiple
          >
            <mat-option
              *ngFor="let majorCategory of flatCategoryData"
              [value]="majorCategory.id"
            >
              <span *ngFor="let i of counter(majorCategory.node_level)"
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              • {{ majorCategory.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.items.itemGroup"
        >
          <mat-label>Item Group</mat-label>
          <mat-select
            [(ngModel)]="selectedItemGroups"
            (selectionChange)="onItemGroupChange()"
            multiple
          >
            <mat-option
              *ngFor="let itemGroup of itemGroups"
              [value]="itemGroup.id"
              >{{ itemGroup.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="overviewFormGroup.value.keyCombination.items.item"
        >
          <mat-label>Item</mat-label>
          <mat-select
            [(ngModel)]="selectedItems"
            (selectionChange)="onItemChange()"
            multiple
          >
            <mat-option *ngFor="let item of items" [value]="item.id"
              >{{ item.item_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="bg-white">
    <div class="form-box">
      <div class="">
        <h4 *ngIf="showLocations()">Location</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.country">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="selectedCountries" (selectionChange)="onCountryChange($event)" multiple>
              <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedCountries.length ) && showFormError">
            <small>Please select atleast a country.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.regions">
          <mat-form-field>
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="selectedRegions" (selectionChange)="onRegionChange($event)" multiple>
              <mat-option *ngFor="let region of regions" [value]="region.id">{{ region.region_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedRegions.length ) && showFormError">
            <small>Please select atleast a region.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.area">
          <mat-form-field>
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="selectedAreas" (selectionChange)="onAreaChange($event)" multiple>
              <mat-option *ngFor="let area of flatAreaData" [value]="area.id">
                <span *ngFor="let i of counter(area.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ area.area_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedAreas.length ) && showFormError">
            <small>Please select atleast an area.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.route">
          <mat-form-field>
            <mat-label>Route</mat-label>
            <mat-select [(ngModel)]="selectedRoutes" (selectionChange)="onRouteChange($event)" multiple>
              <mat-option *ngFor="let route of routes" [value]="route.id">{{ route.route_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedRoutes.length ) && showFormError">
            <small>Please select atleast a route.</small>
          </mat-error>
        </div>

      </div>

      <div class="">
        <h4 *ngIf="showCustomers()">Customer</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.salesOrganisation">
          <mat-form-field>
            <mat-label>Sales Organisation</mat-label>
            <mat-select [(ngModel)]="selectedSalesOrganisations" (selectionChange)="onSalesOrganisationChange()"
              multiple>
              <mat-option *ngFor="let salesOrganisation of flatSalesOrganisationData" [value]="salesOrganisation.id">
                <span *ngFor="let i of counter(salesOrganisation.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ salesOrganisation.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedSalesOrganisations.length ) && showFormError">
            <small>Please select atleast a sales organisation.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.channel">
          <mat-form-field>
            <mat-label>Channel</mat-label>
            <mat-select [(ngModel)]="selectedChannels" (selectionChange)="onChannelChange()" multiple>
              <mat-option *ngFor="let channel of flatChannelData" [value]="channel.id">
                <span *ngFor="let i of counter(channel.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ channel.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedChannels.length ) && showFormError">
            <small>Please select atleast a channel.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.customerCategory">
          <mat-form-field>
            <mat-label>Customer Category</mat-label>
            <mat-select [(ngModel)]="selectedCustomerCategories" (selectionChange)="onCustomerCategoryChange()"
              multiple>
              <mat-option *ngFor="let customerCategory of customerCategories" [value]="customerCategory.id">
                {{ customerCategory.customer_category_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedCustomerCategories.length ) && showFormError">
            <small>Please select atleast a customer category.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.customer">
          <mat-form-field>
            <mat-label>Customer</mat-label>
            <mat-select [(ngModel)]="selectedCustomers" (selectionChange)="onCustomerChange()" multiple>
              <mat-option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.user.firstname }} {{ customer.user.lastname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedCustomers.length ) && showFormError">
            <small>Please select atleast a customer.</small>
          </mat-error>
        </div>

      </div>
      <div class="">
        <h4 *ngIf="showItems()">Item</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.items.majorCategory">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedCategories" (selectionChange)="onCategoryChange()" multiple>
              <mat-option *ngFor="let majorCategory of flatCategoryData" [value]="majorCategory.id">
                <span *ngFor="let i of counter(majorCategory.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ majorCategory.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedCategories.length ) && showFormError">
            <small>Please select atleast a category.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.items.itemGroup">
          <mat-form-field>
            <mat-label>Item Group</mat-label>
            <mat-select [(ngModel)]="selectedItemGroups" (selectionChange)="onItemGroupChange()" multiple>
              <mat-option *ngFor="let itemGroup of itemGroups" [value]="itemGroup.id">{{ itemGroup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="(!selectedItemGroups.length ) && showFormError">
            <small>Please select atleast an item group.</small>
          </mat-error>
        </div>
        <div *ngIf="overviewFormGroup.value.keyCombination.items.item">
          <div class="form-field-box">
            <mat-form-field>
              <mat-label>Item</mat-label>
              <mat-select (selectionChange)="getUomListByItem($event.value)" [formControl]="ItemCodeFormControl">
                <mat-option *ngFor="let item of itemData " [value]="item.id">
                  {{ item.item_code }} / {{ item.item_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="(!itemsFormControl.value.length ) && showFormError">
              <small>Please select atleast an item.</small>
            </mat-error>
          </div>
          <div class="form-field-box">
            <mat-form-field>
              <mat-label>Item Uom</mat-label>
              <mat-select [formControl]="ItemUomCodeFormControl">
                <mat-option *ngFor="let uom of uomFilter " [value]="uom.id">
                  {{ uom.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="(!itemsFormControl.value.length ) && showFormError">
              <small>Please select atleast an item Uom.</small>
            </mat-error>
          </div>
          <div class="form-btn-box item-add-btn">
            <button type="button" (click)="addItemCode()">
              <i class="os-icon os-icon-plus"></i>Add</button>
          </div>
          <div class="items-table-box">
            <div class="table-responsive">
              <table mat-table [dataSource]="itemSource" *ngIf="itemSource.data.length"
                class="mat-elevation-z8 table table-hover">
                <ng-container matColumnDef="itemName">
                  <th mat-header-cell *matHeaderCellDef> Item Name </th>
                  <td mat-cell *matCellDef="let element"> {{ element.item_name }} </td>
                </ng-container>
                <ng-container matColumnDef="itemUom">
                  <th mat-header-cell *matHeaderCellDef> Item Uom </th>
                  <td mat-cell *matCellDef="let element"> {{ element.item_uom_name }} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element; index as index">
                    <button (click)="editItemCode(index, element)"><i class="fa fa-edit"></i></button>
                    <button (click)="deleteItemCode(index)" class="trash-btn"><i class="fa fa-trash"></i></button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="5" [pageSizeOptions]="[5,10]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <pre>{{overviewFormGroup.value | json}}</pre> -->
</section>