.form-box {
    text-align: left;
    padding:1.25rem;
}

.form-check-label {
    padding-left: 48px;
    position: relative;
    top: 4px;
    font-size: 16px;
}
.form-field-box {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 40%;
}
.form-btn-box {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 12%;
}
.mat-form-field {
    width: 100%;
}
.mat-error {
    display: table-row;
}
.mat-option {
    height: 32px !important;
}

.items-table-box {
    overflow-y: scroll !important;
    mat-paginator,
    .mat-table {
      max-width: 99%;
      margin: auto;
    }
    button {
      background-color: transparent;
      border: none;
      font-size: 15px;
      &:active {
        outline: none;
      }
    }
  }
  .table thead, .table thead tr, .mat-header-row{
    background-color: black !important;
    th{
      background: black;
      color: #fff;
    }
  }
  
.item-add-btn {

    button {
        border-radius: 4px;
        max-width: 140px;
        padding: 4px 10px;
        background-color: #1abc9c;
        color: white;
        border: none;
      i {
        margin-right: 4px;
      }
    }
  }