<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.date | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Customer </th>
                <td mat-cell *matCellDef="let element"> {{ element.customerName }} </td>
            </ng-container>
            <ng-container matColumnDef="display_tool">
                <th mat-header-cell *matHeaderCellDef> Display Tool </th>
                <td mat-cell *matCellDef="let element"> {{ element.displayTool }} </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
            </ng-container>
            <ng-container matColumnDef="product-item">
                <th mat-header-cell *matHeaderCellDef> Product/Item </th>
                <td mat-cell *matCellDef="let element"> {{ element.itemName }} </td>
            </ng-container>
            <ng-container matColumnDef="facing">
                <th mat-header-cell *matHeaderCellDef> Facing </th>
                <td mat-cell *matCellDef="let element"> {{ element.facing }} </td>
            </ng-container>
            <ng-container matColumnDef="actual_facing">
                <th mat-header-cell *matHeaderCellDef> Actual Facing </th>
                <td mat-cell *matCellDef="let element"> {{ element.actualFacing }} </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalScore }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator pageSize="50" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
</div>