<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="activityFormGroup" [editable]="true">
        <div class="row">
            <div class="col-md-6">
                <form class="mt-30" [formGroup]="activityFormGroup" (ngSubmit)="goForward(stepper)">
                    <ng-template matStepLabel>Add Activty</ng-template>
                    <div class="row mb-4">
                        <div class="col-md-4">Activity Name*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="text" formControlName="activityName">
                            <app-validation-message [control]="activityFormGroup.controls['activityName']">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">Valid From*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="date" formControlName="validFrom">
                            <app-validation-message [control]="activityFormGroup.controls['validFrom']">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4"> Valid To*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="date" formControlName="validTo">
                            <app-validation-message [control]="activityFormGroup.controls['validTo']">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="d-inline float-right">
                        <button type="button" class="btn btn-sm btn-white mr-2" (click)="close()">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-p" [disabled]="!activityFormGroup.valid" mat-button>
                            Next</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6"></div>
        </div>
    </mat-step>
    <mat-step [stepControl]="" label="Activity Details">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <form class="mt-30" [formGroup]="activityDetailsFormGroup" (ngSubmit)="saveActivityForm()">
                    <ng-template matStepLabel>Activty Details</ng-template>
                    <div class="row mb-4 mt-4">
                        <div class="col-3">
                            <div class="form-group">Type*</div>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <div class="col-6">
                                    <app-radio-button
                                        [config]="{ label: 'Customer', value: 'customer', name: 'customer_type', control: customerTypeFromControl }"
                                        (checked)="changeCustomerType()">
                                    </app-radio-button>
                                </div>
                                <div class="col-6">
                                    <app-radio-button
                                        [config]="{ label: 'Merchandiser', value: 'merchandiser', name: 'customer_type', control: customerTypeFromControl }"
                                        (checked)="changeCustomerType()">
                                    </app-radio-button>
                                </div>
                            </div>
                            <app-validation-message [control]="customerTypeFromControl">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="row mb-4" [hidden]="customerTypeFromControl.value !== 'customer'">
                        <div class="col-4">
                            <div class="form-group">Customer*</div>
                        </div>
                        <div class="col-8">
                            <mat-select class="form-control form-control-sm" formControlName="customer">
                                <mat-option *ngFor="let item of customers" [value]="item.user_id">
                                    {{ item.user?.firstname }} {{ item.user?.lastname }}
                                </mat-option>
                            </mat-select>
                            <app-validation-message [control]="activityDetailsFormGroup.controls['customer']">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="row mb-4" [hidden]="customerTypeFromControl.value !== 'merchandiser'">
                        <div class="col-4">
                            <div class="form-group">Merchandiser*</div>
                        </div>
                        <div class="col-8">
                            <mat-select class="form-control form-control-sm" formControlName="merchandiser">
                                <mat-option *ngFor="let item of merchandisers" [value]="item.user_id">
                                    {{ item.user?.firstname }} {{ item.user?.lastname }}
                                </mat-option>
                            </mat-select>
                            <app-validation-message [control]="activityDetailsFormGroup.controls['merchandiser']">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="row mb-4" formArrayName="modules">
                        <div class="col-4 text-bold">
                            <div class="form-group">Activity</div>
                        </div>
                        <div class="col-4 text-bold">
                            <div class="form-group">Status</div>
                        </div>
                        <div class="col-4 text-bold">
                            <div class="form-group">Priority</div>
                        </div>
                        <div class="col-12">
                            <div class="row mb-4 mt-4"
                                *ngFor="let modulesArry of activityDetailsFormGroup.controls['modules'].controls; let i = index;"
                                [formGroupName]="i">
                                <div class="col-3">
                                    <div class="form-group">{{modulesArry.controls['module_name'].value}}</div>
                                </div>
                                <div class="col-5">
                                    <div class="">
                                        <div class="col-6">
                                            <app-radio-button
                                                [config]="{ label: 'Yes', value: '1', name: 'status_'+i, control: modulesArry.controls['status'] }"
                                                (checked)="enablePriority(i, modulesArry.controls['status'].value)">
                                            </app-radio-button>
                                        </div>
                                        <div class="col-6">
                                            <app-radio-button
                                                [config]="{ label: 'No', value: '0', name: 'status_'+i, control: modulesArry.controls['status'] }"
                                                (checked)="enablePriority(i, modulesArry.controls['status'].value)">
                                            </app-radio-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <mat-select (selectionChange)="changePriority(i ,$event.value, true)"
                                        class="form-control form-control-sm" formControlName="priority">
                                        <mat-option *ngFor="let item of priorities" [value]="item">
                                            {{ item }}
                                        </mat-option>
                                    </mat-select>
                                    <app-validation-message [control]="modulesArry.controls['priority']">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline float-right">
                        <button type="button" class="btn btn-sm btn-white mr-2"
                            (click)="goBackward(stepper)">Back</button>
                        <button type="submit" class="btn btn-sm btn-p" [disabled]="!activityDetailsFormGroup.valid"
                            mat-button>
                            Save</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6"></div>
        </div>
    </mat-step>
</mat-horizontal-stepper>