<div class="pl-3">
    <div class="row mb-4 mt-4">
        <div class="col-md-1 col-form-label">Date</div>
        <div class="col-md-3 mb-2 mb-md-0">
            <input class="form-control form-control-sm" type="date" [formControl]="dateFilterControl">
        </div>
        <div class="col-md-3 item-add-btn">
            <button type="button" (click)="getSurveyPostList('date', true)"
                class=" mr-2 btn btn-sm btn-primary">Filter</button>
            <button type="button" (click)="getSurveyPostList('all', true)" class=" btn btn-sm btn-danger">All</button>
        </div>
    </div>
    <div class="items-table-box">
        <div class="table-responsive">
            <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
                </ng-container>

                <ng-container matColumnDef="survey_name">
                    <th mat-header-cell *matHeaderCellDef> Survey Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.survey.name }} </td>
                </ng-container>
                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef> Customer </th>
                    <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }}
                        {{ element.customer?.lastname }}</td>
                </ng-container>
                <ng-container matColumnDef="salesman">
                    <th mat-header-cell *matHeaderCellDef> Salesman </th>
                    <td mat-cell *matCellDef="let element"> {{ element.salesman?.firstname }}
                        {{ element.salesman?.lastname }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"> <button (click)="showQAList(element)"
                            class="btn btn-sm btn-p ml-1 mr-1">Answers</button></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="10" [pageSizeOptions]="[5,10]">
        </mat-paginator>
    </div>
</div>