<section>
  <div class="heading-row clearfix">
    <h2 class="d-md-inline">
      <i class="fa fa-calendar-check-o mr-2"></i>Collection #{{
        collectionData?.collection_number
      }}
    </h2>
    <div class="d-inline float-right">
      <div class="btn-group btnrow mr-2">
        <button class="btn" type="button" [autoClose]="'outside'" triggers="manual" #email="ngbPopover"
          placement="bottom" (click)="email.open();" [ngbPopover]="emailPopContent" [popoverTitle]="emailPopTitle">
          <i class="os-icon os-icon-mail"></i>
        </button>
        <button class="btn" type="button">
          <i class="os-icon os-icon-edit-32"></i>
        </button>
        <button class="btn" type="button" (click)="getDocument('pdf')">
          <mat-icon [inline]="true">picture_as_pdf</mat-icon>
        </button>
        <button class="btn" type="button" printSectionId="print-section" printTitle="Statement" [printStyle]="{
          h1: { color: 'red' },
          h2: { border: 'solid 1px' }
        }" [useExistingCss]="true" ngxPrint>
          <i class="os-icon os-icon-printer"></i>
        </button>
        <button class="btn" type="button">
          <i class="os-icon os-icon-mail"></i>
        </button>
        <button class="btn" type="button">
          <mat-icon [inline]="true">attach_file</mat-icon>
        </button>
        <button (click)="onToggleHistory()" class="btn" type="button">
          <mat-icon [inline]="true">textsms</mat-icon>
        </button>
      </div>


      <button class="btn" (click)="closeDetailView()">
        <i class="os-icon os-icon-close"></i>
      </button>
    </div>
  </div>
  <div class="separator"></div>
  <!-- *ngIf="collectionIsApproved" -->
  <div class="approval-holder" *ngIf="hasApprovalPending">
    <div class="approval-box">
      <div class="approve-icon">
        <i class="fa fa-check-square-o"></i>
      </div>
      <div class="approve-content">
        <h2>Approve this Collection {{ collectionData?.need_to_approve }}</h2>
        <p>
          This Collection has been submitted for approval. Verify and approve
          the Collection.
        </p>
      </div>
      <div class="approve-actions">
        <button mat-button class="approve mr-2" (click)="approve()">
          Approve
        </button>
        <button mat-button class="reject" (click)="reject()">Reject</button>
      </div>
    </div>
  </div>
  <form class="order-form custom-mat scrolly">
    <div class="card-header active-form">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Customer</label>
            <input type="text" class="form-control form-control-sm non-editable" [value]="
                collectionData
                  ? collectionData.customer.firstname +
                    ' ' +
                    collectionData.customer.lastname
                  : ''
              " disabled />
          </div>
        </div>
      </div>
    </div>

    <div class="card-body overview">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Payment Mode </label>
            <input type="text" class="form-control form-control-sm non-editable"
              [value]="getPaymentName(collectionData?.payemnt_type)" disabled />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Collection Number </label>
            <div class="position-relative">
              <input type="text" class="form-control form-control-sm" [value]="collectionData?.collection_number"
                id="numberField" disabled />
              <!-- <span class="setting-btn"><button><i class="fa fa-gear"></i></button> -->
            </div>
          </div>
          <div class="form-group">
            <label for="">Collection Date </label>
            <input type="date" class="form-control form-control-sm" [value]="collectionData?.payment_date"
              id="collectionDate" disabled />
          </div>
        </div>
      </div>
    </div>

    <div class="card-body overview custom-mat check-detail-box" *ngIf="collectionData?.payemnt_type == 1">
      <div class="d-flex overview-container justify-content-center">
        <div class="row align-items-center w-100 border">
          <div class="col-sm-4">
            <div class="mb-2 form-group row align-items-center">
              <label for="" class="col-sm-4 col-form-label">Check Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" [value]="collectionData?.cheque_number" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-2 form-group row align-items-center">
              <label for="" class="col-sm-4 col-form-label">Bank Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" [value]="collectionData?.bank_info" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-2 form-group row align-items-center">
              <label for="" class="col-sm-4 col-form-label">Check Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control form-control-sm" [value]="collectionData?.cheque_date" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="item-container custom-mat custom-mat-no-border">
        <table class="table table-hover cardtable">
          <thead>
            <tr>
              <th class="head" *ngFor="let head of tableHeaders">
                {{ head.name }}
              </th>
            </tr>
          </thead>
          <tbody class="form-body">
            <tr class="item-row" *ngFor="let invoice of invoices; let i = index">
              <td data-th="#">
                <span>{{ i + 1 }}</span>
              </td>
              <td data-th="DATE">
                <input type="text" class="form-control-sm" [value]="invoice.created_at" disabled />
              </td>
              <td data-th="INVOICE NUMBER	">
                <input type="text" class="form-control-sm" [value]="invoice.invoice_id" disabled />
              </td>
              <td data-th="TOTAL AMOUNT	">
                <input type="text" class="form-control-sm" [value]="invoice.amount" disabled />
              </td>
              <td data-th="PAID AMOUNT">
                <input type="text" class="form-control-sm paid-amount" [value]="0" disabled />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <!-- <div class="footer-block"></div> -->
</section>

<div class="card border" id="print-section">
  <div class="card-body" [innerHTML]="collectionTemplate"></div>
</div>

<ng-template #emailPopTitle>
  <span>Sent collection {{collectionData.collection_number}}</span>
</ng-template>
<ng-template #emailPopContent>
  <app-send-email [data]="emailData" (close)="email.close()"></app-send-email>
</ng-template>