.form-box {
 text-align: left;
 background: #fff;
 padding: 1.25rem;
}

.form-check-label {
    padding-left: 48px;
    position: relative;
    top: 4px;
    font-size: 16px;
}
.form-field-box {
    display: inline-block;
    margin: 0 20px;
    width: 40%;
}
.mat-form-field {
    width: 100%;
}
.mat-error {
    display: table-row;
}
.mat-option {
    height: 32px !important;
}
